<section id="faq" aria-labelledby="faq-title"
         class="row flex-lg-row align-items-center py-5 mt-5">
    <h2 id="faq-title" class="text-center display-6 fw-bold text-body-emphasis lh-1">Часто задаваемые
        вопросы</h2>
    <div class="col accordion accordion-flush mt-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed rounded-top fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                    Как быстро получить информацию о средней или минимальной цене товара?
                </button>
            </h2>
            <!-- add data-bs-parent="#accordionFlushExample" on each .accordion-collapse to make accordion items close
             when anohter item is opened. https://getbootstrap.com/docs/5.3/components/accordion/#always-open -->
            <div id="flush-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">С главной страницы кликните на нужный вам товар. Вверху вы
                    увидите
                    информацию о текущей, средней, минимальной и максимальной цене с датами последних.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                    Могу ли я быстро перейти на страницу товара на Wildberries?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Да, с главной страницы кликните на нужный вам товар, Далее на ссылку "Перейти на
                    страницу
                    товара".
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed rounded-bottom fw-bold" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                    Что делать. если мне нужна определенная функция, а ее нет?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <!-- TODO: put in a real email -->
                    Без проблем! Напишите нам на <a href="mailto:info@mpmonitor.ru" target="_blank">info@mpmonitor.ru</a>, и мы обсудим все детали.
                </div>
            </div>
        </div>
    </div>
</section>
