<section aria-labelledby="feature-title-1 feature-title-2 feature-title-3"
         class="row g-4 py-5 row-cols-1 row-cols-lg-3 bg-body-tertiary bg-fullwidth">
    <div class="col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <span class="material-symbols-sharp text-primary fs-1">grid_view</span>
        </div>
        <h3 id="feature-title-1" class="fs-2 text-body-emphasis">Интуитивно понятный интерфейс</h3>
        <p>Проводите ручной мониторинг одним кликом или настройте автоматический парсинг за 30 секунд.</p>
    </div>

    <div class="col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <span class="material-symbols-sharp text-primary fs-1">speed</span>
        </div>
        <h3 id="feature-title-2" class="fs-2 text-body-emphasis">Быстрая аналитика</h3>
        <p>Узнайте среднюю, максимальну и минимальную цену каждого товара с датами, а также историю изменения
            цены.</p>
    </div>

    <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
            <span class="material-symbols-sharp text-primary fs-1">flaky</span>
        </div>
        <h3 id="feature-title-3" class="fs-2 text-body-emphasis">Мониторинг наличия товаров</h3>
        <p>Отсутствие товаров четко показано, чтобы бы смогли оперативно среагировать на любые изменения.</p>
    </div>
</section>
