{% load static %}

<section aria-labelledby="hero-title" class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/homepage/hero-image-2.png' %}" class="d-block mx-lg-auto img-fluid"
             alt="Cool image"
             width="700" height="500" loading="eager">
    </div>
    <div class="col-lg-6">
        <h1 id="hero-title" class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Самый простой в использовании и эффективный парсер Wildberries
        </h1>
        <p class="lead">
            Всего 3 простых шага для настройки автоматического парсинга. Настроили и забыли, остальное - за нами:
            отслеживание тенденции цен, анализ данных.
        </p>
        <a href="#how_does_it_work" class="btn btn-outline-secondary bg-gradient btn-lg px-4 me-md-2 mt-3 rounded-pill">Как это
            работает?</a>
        <button type="button" class="btn btn-success bg-gradient btn-lg px-4 me-md-2 mt-3 rounded-pill">Демо
        </button>
    </div>
    <!-- <div>Наши главные особенности (замануха, чтобы кликнули или проскролили вниз)</div> -->
</section>
