{% load static %}

<section aria-labelledby="hero-title" class="row flex-lg-row-reverse align-items-center g-5 pb-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/homepage/hero-image-2.png' %}" class="d-block mx-lg-auto img-fluid"
             alt="Cool image" loading="eager">
    </div>
    <div class="col-lg-6">
        <h1 id="hero-title" class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Мониторинг цен на <span class="wb-gradient-text">Wildberries</span>: легко и без лишней ручной работы
        </h1>
        <p class="lead mb-5">
            Всего 3 простых шага для настройки автоматического парсинга. Настроили и забыли, остальное - за нами:
            отслеживание тенденции цен, анализ данных.
        </p>
        <a href="#how_does_it_work" class="btn btn-outline-secondary bg-gradient btn-lg px-4 me-md-2 my-3 rounded-pill">
            Как это работает?</a>

        <span x-data="{ loading: false, loadingMessage: 'Загружаем . . .' }">
{#            Transition effect not working. More info: https://github.com/igorsimb/mp-monitor/issues/134 #}
            <a hx-get="{% url 'demo' %}"
               hx-push-url="true"
               hx-target=".main-content"
               hx-swap="outerHTML transition:true"
               class="btn btn-success bg-gradient btn-lg px-4 me-md-2 my-3 rounded-pill shadow shadow-sm"
               @click="loading = true; setTimeout(() => {
                   loadingMessage = 'Создаем демо . . .';
                   setTimeout(() => {
                       loadingMessage = 'Почти готово . . .';
                   }, 2000);
               }, 2000)"
               x-show="!loading">
                <span>Демо одним кликом</span>
            </a>

            <button x-show="loading"
                    class="btn btn-success bg-gradient btn-lg px-4 me-md-2 my-3 rounded-pill shadow shadow-sm" disabled>
                <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
                <span role="status" x-text="loadingMessage"></span>
            </button>
        </span>


    </div>

</section>
