{% load static %}

<section class="py-4">
    <h2 id="how_does_it_work" class="text-center display-6 fw-bold text-body-emphasis my-4">
        Как это работает?
    </h2>

    <!-- 1 -->
    <div class="row pt-3">
        <div class="col-sm-5 col-md-6 order-2 order-sm-1 text-center">
            <img loading="lazy" src="{% static 'img/homepage/tiny_add_new_items.png' %}" alt="Заполните артикулы"
                 class="img-fluid img-thumbnail border-secondary-subtle shadow shadow-sm">
        </div>
        <div class="mt-2 col-sm-2 col-md-1 order-1 order-sm-2 d-flex flex-column align-items-center justify-content-center">
            <span class="badge bg-primary bg-gradient rounded-circle fs-2 shadow">1</span>
            <div class="bg-primary-subtle mt-4 flex-grow-1 d-none d-sm-block"
                 style="width: 3px; height: auto;"></div>
        </div>
        <div class="col-sm-5 col-md-5 order-3 h-auto">
            <h2>Заполните артикулы</h2>
            <ul>
                <li>
                    <div class="d-flex justify-content-start align-items-center">
                        <div>Нажмите</div>
                        {#                    <span class="material-symbols-sharp btn btn-sm btn-outline-success disabled">add</span> в верхнем левом углу.#}
                        <div class="mx-2">
                            <a class="toggle" title="Добавить новые товары для парсинга">
                                <input type="checkbox">
                                <span class="button"></span>
                                <span class="material-symbols-sharp label text-primary">add</span>
                            </a>
                        </div>
                    </div>

                </li>
                <li> Это откроет форму добавления артикулов.</li>
                <li>Введите артикулы.</li>
                <li>
                    Нажмите
                    <button class="btn btn-primary rounded-pill disabled">Добавить</button>
                </li>
                <li>
                    Дождитесь окончания первого парсинга.
                </li>
            </ul>

        </div>
    </div>

    <!-- 2 -->
    <div class="row my-4" style="min-height: 200px;">
        <div class="d-flex col-sm-5 col-md-6 order-2 order-sm-1 align-items-center">
            <img loading="lazy" src="{% static 'img/homepage/tiny_create_schedule_button_arrow.png' %}"
                 alt="Заполните артикулы"
                 class="img-fluid img-thumbnail border-secondary-subtle shadow shadow-sm">
        </div>
        <div class="col-sm-2 col-md-1 order-1 order-sm-2 d-flex flex-column align-items-center justify-content-center">
            <span class="badge bg-primary bg-gradient rounded-circle fs-2 shadow">2</span>
            <div class="border-danger bg-primary-subtle mt-3 flex-grow-1 d-none d-sm-block"
                 style="width: 3px; height: auto;"></div>
        </div>
        <div class="col-sm-5 col-md-5 order-3 h-auto">
            <h2>Вкладка расписаний</h2>
            <p>Кликните "Создать автоматическое расписание"</p>
        </div>
    </div>

    <!-- 3 -->
    <div class="row">
        <div class="col-sm-5 col-md-6 order-2 order-sm-1 text-center">
            <img loading="lazy" src="{% static 'img/homepage/tiny_create_schedule.png' %}" alt="Создайте расписание"
                 class="img-fluid img-thumbnail border-secondary-subtle shadow shadow-sm">
        </div>
        <div class="col-sm-2 col-md-1 order-1 order-sm-2 d-flex flex-column align-items-center justify-content-start">
            <span class="badge bg-primary bg-gradient rounded-circle fs-2 shadow">3</span>
        </div>
        <div class="ol-sm-5 col-md-5 order-3 h-auto">
            <h2>Создайте расписание</h2>
            <p>В поле формы введите необходимое число и выберите из списка нужный период. Например,
                "Обновлять информацию с Wildberries каждые 12 часов".</p>
            <p>А теперь попробуйте все сами, запустив демо.</p>

            <span x-data="{ loading: false, loadingMessage: 'Загружаем . . .' }">
{#   Transition effect not working. More info: https://github.com/igorsimb/mp-monitor/issues/134 #}
    <a hx-get="{% url 'demo' %}"
       hx-push-url="true"
       hx-target=".main-content"
       hx-swap="outerHTML transition:true"
       class="btn btn-success bg-gradient btn-lg px-4 me-md-2 my-3 rounded-pill shadow shadow-sm"
       @click="loading = true; setTimeout(() => {
           loadingMessage = 'Создаем демо . . .';
           setTimeout(() => {
               loadingMessage = 'Почти готово . . .';
           }, 2000);
       }, 2000)"
       x-show="!loading">
        <span>Демо одним кликом</span>
    </a>

    <button x-show="loading"
            class="btn btn-success bg-gradient btn-lg px-4 me-md-2 my-3 rounded-pill shadow shadow-sm" disabled>
        <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        <span role="status" x-text="loadingMessage"></span>
    </button>
</span>
        </div>
    </div>

</section>
