{% load static %}

<section aria-labelledby="solution-title-2" class="border row flex-lg-row-reverse align-items-center">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/homepage/benefit-image-2.png' %}" class="d-block mx-lg-auto img-fluid"
             alt="Cool image"
             width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h2 id="solution-title-2" class="display-6 fw-bold text-body-emphasis lh-1 mb-3">Medium length
            display
            headline</h2>
        <p class="">Separated they live in Bookmarks right at the coast of the famous Semantics, large
            language</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Call to Action</button>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Showcase and embed your work with</li>
                <li class="list-group-item">Publish across social channels in a click</li>
                <li class="list-group-item">Sell your videos worldwide</li>
                <li class="list-group-item">Embed your work with</li>
            </ul>
        </div>
    </div>
</section>
