{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Ошибка создания демо</title>
</head>
<body>


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{% static 'img/demo_error.png' %}" class="img-fluid" alt="Error">
            <p class="lead">Ошибка создания демо. Уже разбираемся. Пожалуйста, попробуйте чуть позже.</p>
            <a href="{% url 'index' %}" class="btn btn-primary bg-gradient rounded-pill">На главную</a>
        </div>
    </div>
</div>

</body>
</html>
