{% if price_alerts %}
    {% url 'edit_price_alert' alert.id as edit_price_alert_url %}

    <style>
        .scale-and-fade-out {
            transform: scale(0);
            opacity: 0;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
    </style>

    <hr class="my-4">
    <div class="row g-3" id="js-alert-container">
        {% for alert in price_alerts %}
            <div class="col-12 col-md-6 col-lg-4" id="alert-{{ alert.id }}" style="cursor: default"
                 title="{{ alert.message }}">
                <div class="card notification-card
                            {% if alert.is_active %}border-success hover-shadow-success
                            {% else %}border-secondary hover-shadow-secondary{% endif %}
                            {% if alert.id == selected_alert_id and alert.id is not None %}
                                {% if alert.is_active %}
                                    text-bg-success
                                    {% else %}
                                    text-bg-secondary
                                {% endif %}
                            {% endif %}"
                     hx-get="{% url 'edit_price_alert' alert.id %}"
                     hx-target="#offcanvas-body">
                    <div class="card-body d-flex align-items-center px-1 py-1">

                        {% if alert.is_active %}
                            <span class="material-symbols-sharp me-1{% if alert.id == selected_alert_id %} text-bg-success{% else %} text-success{% endif %}" title="Уведомление включено"
                                  style="font-variation-settings: 'FILL' 1">
                                        notifications_active
                                    </span>
                        {% else %}
                            <span class="material-symbols-sharp me-1 {% if alert.id == selected_alert_id %} text-bg-secondary{% else %} text-secondary{% endif %}"
                                  title="Уведомление выключено">
                                        notifications
                                    </span>
                        {% endif %}

                        <div class="flex-grow-1">
                            <span class="mb-0">{{ alert.target_price|floatformat:"-2" }}</span>
                        </div>

                        <!-- Deleting alert with optimistic update -->

                        <a hx-delete="{% url 'delete_price_alert' alert.id %}" data-bs-theme="dark"
                           hx-target="#alert-list-block"
                           hx-swap="innerHTML"
                           hx-on:alert-deleted="this.closest('#alert-{{ alert.id }}').remove()"
                           hx-on::before-request="this.closest('#alert-{{ alert.id }}').classList.add('scale-and-fade-out')"
                           hx-on::after-request="
                                this.closest('#alert-{{ alert.id }}').classList.remove('scale-and-fade-out');
                                if (!event.detail.successful) {showDeleteErrorMessage();}
                            "
                           class="btn-close"
                           title="Удалить" style="font-size: 0.7rem; cursor: pointer;">
                            <span class="visually-hidden">Удалить</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function showDeleteErrorMessage() {
            const existingAlertDeleteError = document.getElementById('alert-delete-error');
            if (!existingAlertDeleteError) {
                const errorSpan = document.createElement('span');
                errorSpan.textContent = 'Ошибка сервера при удалении уведомления';
                errorSpan.classList.add('text-danger', 'mb-2');
                errorSpan.id = 'alert-delete-error';

                const alertListDivider = document.querySelector('#js-alert-container');
                alertListDivider.insertAdjacentElement('afterbegin', errorSpan);

                setTimeout(() => {
                    if (errorSpan && errorSpan.parentNode) {
                        errorSpan.parentNode.removeChild(errorSpan);
                    }
                }, 3000);
            }
        }
    </script>

{% endif %}
