:root {
    font-family: 'Roboto', sans-serif;
}

.nav {
    --bs-nav-link-color: rgba(0, 0, 0, 0.7);
}

.nav-link {
    padding-top: 0.5rem;
}

.nav-link.active {
    background-image: linear-gradient(to bottom, rgba(13,109,253,0.3) 0%, transparent 30%);
}
