:root {
    font-family: 'Roboto', sans-serif;
}

.nav {
    --bs-nav-link-color: rgba(0, 0, 0, 0.7);
}

.nav-link {
    padding-top: 0.5rem;
}

.nav-link.active {
    background-image: linear-gradient(to bottom, rgba(13,109,253,0.3) 0%, transparent 30%);
}

/* Break bg outside the .container
Source: https://www.youtube.com/watch?v=81pnuZFarRw
#f8f9fa = bg-body-tertiary (Bootstrap) */
.bg-fullwidth {
    box-shadow: 0 0 0 100vmax #f8f9fa;
    clip-path: inset(0 -100vmax);
}
