:root {
    font-family: system-ui, 'Roboto', sans-serif;
}

.nav {
    --bs-nav-link-color: rgba(0, 0, 0, 0.7);
}

/* Change the background color of the nav-link tabs on hover */
/*.nav-link:hover {*/
/*    background: rgba(189, 189, 189, 0.1);*/
/*}*/

.nav-link {
    padding-top: 0.5rem;
}

.nav-link.active {
    color: var(--bs-primary-text-emphasis) !important;
}

.nav-link.nav-active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--bs-primary);
    text-decoration-thickness: 2px;
}

/* prevent new line in table's th */
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

/* Break bg outside the .container
Source: https://www.youtube.com/watch?v=81pnuZFarRw
#0d6efd - primary
#f8f9fa = bg-body-tertiary
#cfe2ff = bg-primary-subtle
#e9ecef = bg-body-secondary
*/
.bg-fullwidth {
    /*box-shadow: 0 0 0 100vmax #f8f9fa;*/
    box-shadow: 0 0 0 100vmax #e9ecef;
    clip-path: inset(0 -100vmax);
}

.bg-fullwidth-light {
    box-shadow: 0 0 0 100vmax #F8F9FA;
    clip-path: inset(0 -100vmax);
}

.material-symbols-sharp,
.custom-material-icon {
    display: inline-flex;
    vertical-align: text-bottom;
    font-size: 1.2rem;
}

.focus-ring-remove {
    --bs-focus-ring-width: 0;
}

/* Add new items form START */
.add-items {
    /*transition: scale 0.3s cubic-bezier(0.19, 1, 0.22, 1);*/
    box-shadow: 0px 0px 20px -18px;
}

.add-items:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

/*.add-items:active {*/
/*  transform: scale(0.99);*/
/*}*/

.add-items:focus {
    border: 2px solid grey;
}

/* Add new items form END */

/* Add items button START
source: https://uiverse.io/Pradeepsaranbishnoi/jolly-robin-0 */

.toggle {
    display: inline-block;
}

.toggle {
    position: relative;
    height: 100px;
    width: 100px;
}

.toggle:before {
    box-shadow: 0;
    border-radius: 84.5px;
    background: #fff;
    position: absolute;
    margin-left: -36px;
    margin-top: -36px;
    opacity: 0.2;
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
}

.toggle input:checked ~ .label {
    color: rgba(255, 0, 0, 0.8);
}

.toggle .button {
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    border-radius: 68.8px;
    border: 1px solid #eaeaea;
    position: absolute;
    background: #eaeaea;
    /* changed from  margin-left: -34.4px; */
    margin-left: -45px;
    margin-top: -34.4px;
    display: block;
    height: 68.8px;
    width: 68.8px;
    left: 50%;
    top: 50%;
}

.toggle .label {
    transition: color 300ms ease-out;
    line-height: 101px;
    text-align: center;
    margin-left: -10px;
    position: absolute;
    font-weight: 700;
    font-size: 28px;
    display: block;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
}

.toggle input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.toggle input:active ~ .button {
    filter: blur(0.5px);
    box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:active ~ .label {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.45);
}

.toggle input:checked ~ .button {
    filter: blur(0.5px);
    box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked ~ .label {
    color: rgba(0, 0, 0, 0.8);
}

/* Add items button END */


.item-price-card {
    box-sizing: border-box;
    border: 1px solid white;
    /*backdrop-filter: blur(6px);*/
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.1s;

}

.item-price-card:hover {
    border: 1px solid lightgrey;
    /* Can also use var like so:
    border: 1px solid var(--bs-primary-bg-subtle); */
    transform: scale(1.03);
}

.item-price-card:active {
    transform: scale(0.97) rotateZ(1.7deg);
}


/* View transition effect START*/

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(90px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-90px);
    }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
.slide-transition {
    view-transition-name: slide-it;
}

/* View transition effect END */


/* Shepherd tour START */

.shepherd-element {
    /* overrides only the max-width, everything else is inherited from shepherd.css */
    max-width: 500px;
    border: solid 1px #16202D;
    /*background: lightyellow;*/
}

.shepherd-arrow:before {
    /*outline: 1px solid #16202D;*/
    /*background: lightyellow;*/
}


shepherd-step-highlight {
    /*display: block;*/
    /*height: 100px;*/
    position: absolute;
    /*width: 200px;*/
}

.hidden {
    visibility: hidden;
}


.shepherd-footer {
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem 0.75rem;
}

.shepherd-button:last-child {
    margin-right: 0;
}

.shepherd-progress {
    font-size: 0.8rem;
}

/* Shepherd tour END */

.wb-gradient-text {
    background: linear-gradient(to right, #E33CC2, #7719ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Pattern under the pricing cards START */

.pricing-card-container {
    position: relative;
    width: 100%;
}

.pricing-card-container::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 37%;
    width: 50%;
    height: 34%;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 6px, transparent 0);
    background-size: 25px 25px;
    background-position: -5px -5px;
    z-index: -1;
    /* Place the pseudo-element behind the cards */
}

/* Hide the pattern on screens below 991px */
@media (max-width: 991px) {
    .pricing-card-container::after {
        display: none;
    }
}

/* Pattern under the pricing cards END */

.fit-content {
    min-width: fit-content;
}

/* For tooltips */
.tooltip-needed {
    text-decoration: underline dotted hsla(0, 0%, 50%, 0.5);
    text-underline-offset: 5px;
    cursor: help;
    stroke-opacity: 0.5;
}

.price-card-height {
    height: 550px;
}


/* For dialogs */

/* add animation to the hover scale effect */
.pay-button {
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
}

.pay-button:hover {
    transform: translateY(-2px);
    /* Slight upward movement */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* Open state of the dialog */
dialog[open] {
    opacity: 1;
    transform: translateY(0);
    /* End in the middle */
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

/* Closed state of the dialog */
dialog {
    opacity: 0;
    transform: translateY(40px);
    /* Start slightly above */
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
}


/* Before-open state */
@starting-style {
    dialog[open] {
        opacity: 0;
        transform: translateY(-40px);
        /* Start slightly below */
    }
}

/* Fade-in the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition: display 0.4s allow-discrete, overlay 0.4s allow-discrete, background-color 0.4s;
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 70%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */
@starting-style {
    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }
}

/* Icon for the cards on item detail page */
.flavor-icon {
    position: absolute !important;
    top: 50%;
    /* Center vertically */
    left: -5%;
    /* Move it left outside the card */
    transform: translateY(-50%);
    font-size: 120px;
    /* Keep it large but no overflow */
    color: rgba(0, 0, 0, 0.1);
    /* Subtle, non-intrusive color */
    z-index: 0;
    pointer-events: none;
    /* Prevent interaction */
}

.card > * {
    position: relative;
    z-index: 1;
}

/* Ensure the card height is fixed and does not adjust with icon size */
.card {
    /*overflow: hidden;*/
    height: 100%;
}


/* Price history filter form positioning */
.price-history-filter {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .price-history-filter {
        position: static;
        width: 100%;
        margin-top: 1rem;
    }
}

.wb-logo {
    max-width: 16px;
    max-height: 16px;
    opacity: 0.86;
}

.wb-logo:hover {
    opacity: 1;
}


/* Tinkoff Payment Widget */
.payform-tbank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px;
}

.payform-tbank-row {
    margin: 2px;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid #DFE3F3;
    padding: 15px;
    outline: none;
    background-color: #DFE3F3;
    font-size: 15px;
}

.payform-tbank-row:focus {
    background-color: #FFFFFF;
    border: 1px solid #616871;
    border-radius: 4px;
}

.payform-tbank-btn {
    background-color: #FBC520;
    border: 1px solid #FBC520;
    color: #3C2C0B;
}

.payform-tbank-btn:hover {
    background-color: #FAB619;
    border: 1px solid #FAB619;
}


.add-balance-input {
    --bs-focus-ring-width: 0px !important;
    transition: all 0.2s ease-in-out;
}

.add-balance-input:user-invalid {
    border: 1px solid var(--bs-danger) !important;
}

.add-balance-input:user-valid {
    border: 1px solid var(--bs-success) !important;
}

/* Dialog responsive width */
.switch-plan-dialog {
    width: 90%;
    max-width: 800px;
}

@media (max-width: 576px) {
    .switch-plan-dialog {
        width: 95%;
        margin: 16px auto;
    }
}


/* Notification add button */
.notification-add-button {
  transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
    border-width: 2px;
}

.notification-add-button i {
  font-size: 1.2rem;
}

.notification-card:hover {
    transform: translateY(-2px);
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);*/
    /*transition: transform 0.2s ease, box-shadow 0.2s ease;*/
    transition: transform 0.2s ease;
}

.hover-shadow-success:hover {
    box-shadow: 0 4px 10px rgba(25, 135, 84, 0.35);
    transition: all 0.2s ease;
}

.hover-shadow-secondary:hover {
    box-shadow: 0 4px 10px rgba(108, 117, 125, 0.35);
    transition: all 0.2s ease;
}
