<!-- Test payment form. Temporary solution before implementing the real payment system \
    merchant_id is in the .env file -->
    <form action="//pay.modulbank.ru/pay" method="post" target="_blank">
        {% csrf_token %}

        <p><strong>Заказ №43683694</strong><br>Сумма: 555 RUB</p>
        <input type="submit" value="Оплатить заказ" class="btn btn-primary btn-outline">

        <!-- Текущие дата и время на сервере в формате UNIX Time  -->
        <input name="unix_timestamp" value="1723447580" type="hidden">

        <!-- Случайная величина (необязательно) -->
        <input name="salt" value="xafAFruTVrpwHKjvZoHvSVkUeMqZoefp" type="hidden">

        <!-- Криптографическая подпись  -->
{#        <input name="signature" value="26d81b1b0b86ab8a7e5eda5f5a8d19bba992db63" type="hidden">#}
        <input name="signature" value="ca83f38722a61aaf26d37b07e93712c05779e64d" type="hidden">

        <!-- Идентификатор магазина (необязательно) -->
        <input name="merchant" value="merchant_id" type="hidden">

        <!-- Сумма операции  -->
        <input name="amount" value="555" type="hidden">

        <!-- &quot;1&quot; для тестовой транзакции, &quot;0&quot; или отстутствует для обычных (необязательно) -->
        <input name="testing" value="1" type="hidden">

        <!-- Код валюты списания. RUB = рубли (необязательно) -->
        {#<input name="currency" value="RUB" type="hidden">#}

        <!-- По умолчанию - card (банковская карта) (необязательно) -->
        {#<input name="payment_method" value="" type="hidden">#}

        <!-- Описание заказа. Максимум 250 символов  -->
        <input name="description" value="Заказ №43683693" type="hidden">

        <!-- Идентификатор заказа в вашем магазине. Максимум 128 символов  -->
        <input name="order_id" value="43683694" type="hidden">

        <!-- Телефон клиента (необязательно) -->
        <input name="client_phone" value="+7 (700) 675-87-89" type="hidden">

        <!-- E-mail клиента (необязательно) -->
        <input name="client_email" value="test@test.ru" type="hidden">

        <!-- Имя и фамилия клиента (необязательно) -->
        <input name="client_name" value="Тестов Тест Тестович" type="hidden">

        <!-- Любые данные, которые вы хотите сохранить вместе с транзакцией, рекомендуемый формат: JSON (необязательно) -->
        {#<input name="meta" value="{&quot;example-property&quot;: 1234}" type="hidden">#}

        <!-- Данные о плагине в json (необязательно) -->
        {#<input name="sysinfo" value="" type="hidden">#}

        <!-- время, в течении которого активна платежная страница (в секундах). (необязательно) -->
        {#<input name="lifetime" value="None" type="hidden">#}

        <!-- Адрес страницы, куда направить пользователя, если платёж завершится успешно  -->
        <input name="success_url" value="https://pay.modulbank.ru/success" type="hidden">

        <!--  (необязательно) -->
        {#<input name="client_success_url" value="None" type="hidden">#}

        <!-- Показать success-страницу futubank (необязательно) -->
        {#<input name="show_futubank_success_page" value="" type="hidden">#}

        <!-- Адрес страницы, куда нужно направить пользователя, если платёж завершится с ошибкой (необязательно) -->
        {#<input name="fail_url" value="https://pay.modulbank.ru/account/merchants/merchant_id/integration/" type="hidden">#}

        <!-- Адрес страницы, куда нужно направить пользователя, если он нажмёт кнопку отмены платёжа. В большинстве случаев это та страница, на которую вы устанавливаете форму оплаты. (необязательно) -->
        {#<input name="cancel_url" value="https://pay.modulbank.ru/account/merchants/merchant_id/integration/" type="hidden">#}

        <!-- Адрес страницы, куда нужно направить пользователя, если lifetime истечет (необязательно) -->
        {#<input name="timeout_url" value="None" type="hidden">#}

                <!-- Позиции чека при Создание счета на оплату (обязательно, только если в ЛК включена удаленная регистрация чеков через онлайн-кассу) -->
{#        <input name="receipt_items"#}
{#               value='[{"discount_sum": 40, "name": "Товар 1", "payment_method": "full_prepayment", "payment_object": "commodity", "price": 48, "quantity": 10, "sno": "osn", "vat": "vat10"}, {"name": "Товар 2", "payment_method": "full_prepayment", "payment_object": "commodity", "price": 533, "quantity": 1, "sno": "osn", "vat": "vat10"}]'#}
{#               type="hidden">#}



    </form>
