<div x-show="billing_tab === 'billing_tab1'" class="p-4">
    <!-- Plan Name -->
    <h2 class="display-6 mb-4">Мой тариф: <span class="fw-semibold">{{ plan.get_name_display|lower|capfirst }}</span>
    </h2>

    <!-- Current Balance -->
    <div class="mb-4">
        <h4 class="text-body-secondary">Текущий баланс:</h4>
        <div class="h3 mb-0 d-flex align-items-center gap-2">
            <div>
                {{ user.tenant.balance|floatformat:2 }}
                <span class="material-symbols-sharp fs-3">currency_ruble</span>
            </div>
            <button class="btn btn-sm btn-outline-success ms-2"
                    aria-label="Пополнить баланс"
                    hx-get="{% url 'billing' %}"
                    hx-target="#payment-dialog"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-disabled-elt="this"
                    hx-swap="innerHTML">
                <span class="material-symbols-sharp">add</span>
                Пополнить
            </button>
        </div>
    </div>

    <dialog id="payment-dialog" class="pt-0 px-0 rounded-3 border-1">
        <!-- Dialog content will be replaced by HTMX -->
    </dialog>

    <!-- Quotas and Usage -->
    <div class="mb-4 pt-3">
        <h5 class="text-muted mb-3">Квоты и использование</h5>
        <ul class="list-unstyled">
            <!-- Total Hours Allowed for demo users only-->
            <li class="mb-4">
                <div class="d-flex justify-content-between">
                    <span>Осталось часов (демо)</span>
                    <span class="text-muted">100 hours (BACKEND)</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100">40% (BACKEND)
                    </div>
                </div>
            </li>
            <!-- SKUs Limit -->
            <li class="mb-4">
                <div class="d-flex justify-content-between">
                    <span>Количество товаров</span>
                    <span class="text-muted">500 SKUs (BACKEND)</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100">80% (BACKEND)
                    </div>
                </div>
            </li>
            <!-- Parse Units Limit -->
            <li class="mb-4">
                <div class="d-flex justify-content-between">
                    <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top"
                          data-bs-title="Однократная проверка одного товара">Единиц проверки</span>
                    <span class="text-muted">10,000 units (BACKEND)</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100">75%
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Upgrade Suggestion -->
    <div class="mt-4 mb-4 text-center">
        <p class="text-muted">Нужно больше единиц проверки?
            {#            <a href="#" class="text-primary">Поменяйте ваш тариф</a>#}
            <a href="#" class="nav-link d-inline text-primary" :class="{ 'active': billing_tab === 'billing_tab3' }"
               @click.prevent="billing_tab = 'billing_tab3'">Сравните тарифы</a>
        </p>
    </div>

    <!-- Support Contact -->
    <div class="text-center">
        <p class="text-muted">Нужна помощь?
            <a href="mailto:support@mpmonitor.ru" class="text-primary text-decoration-none" target="_blank">Свяжитесь с
                нами
                <span class="material-symbols-sharp">open_in_new</span>
            </a>
        </p>
    </div>
</div>


<script>
    // Show the dialog when HTMX loads the content
    document.body.addEventListener('htmx:afterSwap', (event) => {
        if (event.detail.target.id === 'payment-dialog') {
            document.querySelector("#payment-dialog").showModal();
        }
    });

    // Close dialog functionality
    document.addEventListener("click", function (event) {
        if (event.target.id === "close-button") {
            document.querySelector("#payment-dialog").close();
            // remove the hx-push-url value from the url
            window.history.pushState("", document.title, window.location.pathname);
        }
    });
</script>
