<section x-show="billing_tab === 'billing_tab3'" class="mt-5">
    <h2 class="h2 text-center display-6 fw-bold text-body-emphasis my-4">Тарифы и цены!</h2>


    {# Real payment for MODULBANK #}
    {#    {% if user.is_superuser %}#}
{#        <div>#}
{#            <button class="btn btn-outline-primary pay-button"#}
{#                    hx-get="{% url 'billing' %}?plan=0"#}
{#                    hx-target="#payment-dialog"#}
{#                    hx-push-url="true"#}
{#                    hx-trigger="click"#}
{#                    hx-disabled-elt="this"#}
{#                    hx-swap="innerHTML">Тестовый тариф за реальные деньги (1 руб.)#}
{#            </button>#}
{#        </div>#}
{#    {% endif %}#}

    {# Real payment for TINKOFF #}
{#    {% if user.is_superuser %}#}
{#        <script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>#}
{#       <form class="" name="payform-tbank" id="payform-tbank">#}
{#            <input class="payform-tbank-row" type="hidden" name="terminalkey" value="{{ terminal_key }}">#}
{#            <input class="payform-tbank-row" type="hidden" name="frame" value="false">#}
{#            <input class="payform-tbank-row" type="hidden" name="language" value="ru">#}
{#            <input class="payform-tbank-row" type="hidden" name="receipt" value="">#}
{#            <input class="payform-tbank-row" type="text" placeholder="Сумма заказа" name="amount"#}
{#                   value="{{ plan.price|floatformat:0 }}" required>#}
{#            <input class="payform-tbank-row" type="hidden" placeholder="Номер заказа" name="order"#}
{#                   value="{{ order_id }}">#}
{#            <input class="payform-tbank-row" type="hidden" placeholder="Описание заказа" name="description"#}
{#                   value='Тариф "{{ plan.get_name_display }}"'>#}
{#            <input class="payform-tbank-row" type="hidden" placeholder="ФИО плательщика" name="name">#}
{#            <input class="payform-tbank-row" type="hidden" placeholder="E-mail" name="email"#}
{#                   value="{{ user.email }}">#}
{#            <input class="payform-tbank-row" type="hidden" placeholder="Контактный телефон" name="phone">#}
{##}
{##}
{#            <div class="d-flex justify-content-between mt-3">#}
{#                <button type="submit" class="btn btn-success bg-gradient py-2 shadow flex-grow-1 me-2 pay-button"#}
{#                        autofocus>#}
{#                    {% if is_real_payment %}#}
{#                        Перейти к оплате (Реальный платеж)#}
{#                    {% else %}#}
{#                        Перейти к оплате (Тестовый платеж)#}
{#                    {% endif %}#}
{#                </button>#}
{#            </div>#}
{##}
{#        </form>#}
{#        <script type="text/javascript">#}
{#    const TPF = document.getElementById("payform-tbank");#}
{##}
{#    TPF.addEventListener("submit", function (e) {#}
{#        e.preventDefault();#}
{#        const {description, amount, email, phone, receipt} = TPF;#}
{##}
{#        if (receipt) {#}
{#            if (!email.value && !phone.value)#}
{#                return alert("Поле E-mail или Phone не должно быть пустым");#}
{#            TPF.receipt.value = JSON.stringify({#}
{#                "EmailCompany": "info@mpmonitor.ru",#}
{#                "Taxation": "usn_income",#}
{#                "FfdVersion": "1.2",#}
{#                "Items": [#}
{#                    {#}
{#                        "Name": 'Тариф "{{ plan.get_name_display }}"' || "Оплата",#}
{#                        "Price": amount.value + '00',#}
{#                        "Quantity": 1.00,#}
{#                        "Amount": amount.value + '00',#}
{#                        "PaymentMethod": "full_payment",#}
{#                        "PaymentObject": "service",#}
{#                        "Tax": "none",#}
{#                        "MeasurementUnit": "pc"#}
{#                    }#}
{#                ]#}
{#            });#}
{#        }#}
{#        pay(TPF);#}
{#    })#}
{#</script>#}
{#    {% endif %}#}

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 my-5 text-center pricing-card-container">

        <!-- Free Plan -->
        <div class="col px-1">
            <div class="card mb-4 rounded-3 shadow-sm fit-content price-card-height">
                <div class="card-header py-3">
                    <h3 class="h3 my-0 fw-bold text-body-secondary">БЕСПЛАТНЫЙ</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="h2 card-title pricing-card-title mb-0">
                                0<span class="material-symbols-sharp fs-4 text-body-tertiary">currency_ruble</span>
                            </h4>
                            <div class="text-body-secondary fw-light">/месяц</div>
                            <ul class="list-unstyled mt-3 mb-4 ms-3 text-start ">
                                <li>Количество товаров - 50</li>
                                <li class="my-3">
                            <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top"
                                  data-bs-title="Однократная проверка одного товара">Единиц проверки</span> - 5000
                                </li>
                                <li>&nbsp;<br>&nbsp;</li>
                                <li class="text-success mt-3">&nbsp;</li>
                            </ul>
                        </div>
                        <div>
                            <hr class="opacity-25 w-50 mx-auto">
                            <!-- TODO: add functionality to change the plan  -->
                            <button class="w-100 btn btn-lg btn-outline-secondary pay-button"
                                    hx-get="{% url 'billing' %}?plan=1"
                                    hx-target="#payment-dialog"
                                    hx-push-url="true"
                                    hx-trigger="click"
                                    hx-disabled-elt="this"
                                    hx-swap="innerHTML">Сменить тариф
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Business Plan (Current Plan) (BACKEND for border-primary - user's current plan) -->
        <div class="col px-1">
            <div class="card mb-4 rounded-3 shadow-sm fit-content price-card-height border-primary">
                <div class="card-header py-3 bg-light border-primary position-relative">
                    <h3 class="h3 my-0 fw-bold">БИЗНЕС</h3>
                    <span class="badge bg-primary position-absolute top-0 translate-middle-y end-0 me-3">Мой тариф (BACKEND)</span>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="h2 card-title pricing-card-title mb-0">
                                5 990<span class="material-symbols-sharp fs-4 text-body-tertiary">currency_ruble</span>
                            </h4>
                            <div class="text-body-secondary fw-light">/месяц</div>
                            <ul class="list-unstyled mt-3 mb-4 ms-3 text-start ">
                                <li>Количество товаров - 500</li>
                                <li class="my-3">
                            <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top"
                                  data-bs-title="Однократная проверка одного товара">Единиц проверки</span> - 35 000
                                </li>
                                <li>Стоимость за проверку - 0.17 руб.</li>
                                <li class="text-success mt-3 fw-semibold">&nbsp;</li>
                            </ul>
                        </div>
                        <!-- TODO: Don't show / disable the button if this is the current plan -->
                        <div>
                            <hr class="opacity-25 w-50 mx-auto">
                            <button class="w-100 btn btn-lg btn-primary pay-button"
                                    hx-get="{% url 'billing' %}?plan=2"
                                    hx-target="#payment-dialog"
                                    hx-push-url="true"
                                    hx-trigger="click"
                                    hx-disabled-elt="this"
                                    hx-swap="innerHTML">Сменить тариф
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Professional Plan
        TODO: use `fw-semibold text-success-emphasis` class only for plans that are more expensive
         than user's current plan and `text-body-secondary` for cheaper ones to encourage them to upgrade -->
        <div class="col px-0">
            <div class="card mb-4 rounded-3 shadow-sm border-primary fit-content price-card-height">
                <div class="card-header py-3 text-bg-primary border-primary position-relative">
                    <h3 class="h3 my-0 fw-bold">ПРОФЕССИОНАЛ</h3>
                    <span class="badge bg-warning position-absolute top-0 translate-middle-y end-0 me-3">Выгодно</span>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="h2 card-title pricing-card-title mb-0">
                                11 990<span class="material-symbols-sharp fs-4 text-body-tertiary">currency_ruble</span>
                            </h4>
                            <div class="text-body-secondary fw-light">/месяц</div>
                            <ul class="list-unstyled mt-3 mb-4 ms-3 text-start">
                                <li>Количество товаров - <span class="fw-semibold text-success-emphasis">1000</span>
                                </li>
                                <li class="my-3">
        <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="Однократная проверка одного товара">Единиц проверки</span> - <span
                                        class="fw-semibold text-success-emphasis">100 000</span>
                                </li>
                                <li class="text-success mb-3 fw-semibold">Приоритетная поддержка</li>
                                <li>Стоимость за проверку - <span
                                        class="fw-semibold text-success-emphasis">0.12 руб.</span></li>
                            </ul>
                        </div>
                        <div>
                            <hr class="opacity-25 w-50 mx-auto">
                            <button class="w-100 btn btn-lg btn-primary pay-button"
                                    hx-get="{% url 'billing' %}?plan=3"
                                    hx-target="#payment-dialog"
                                    hx-push-url="true"
                                    hx-trigger="click"
                                    hx-disabled-elt="this"
                                    hx-swap="innerHTML">Сменить тариф
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Corporate Plan -->
        <div class="col ps-1">
            <div class="card mb-4 rounded-3 shadow-sm fit-content price-card-height">
                <div class="card-header py-3">
                    <h3 class="h3 my-0 fw-bold">КОРПОРАТИВНЫЙ</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <h4 class="h2 card-title pricing-card-title mb-0">
                                35 990<span class="material-symbols-sharp fs-4 text-body-tertiary">currency_ruble</span>
                            </h4>
                            <div class="text-body-secondary fw-light">/месяц</div>
                            <ul class="list-unstyled mt-3 mb-4 ms-3 text-start">
                                <li>Количество товаров - <span class="fw-semibold text-success-emphasis">5000</span>
                                </li>
                                <li class="my-3">
                            <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top"
                                  data-bs-title="Однократная проверка одного товара">Единиц проверки</span> -
                                    <span class="fw-semibold text-success-emphasis">500 000</span>
                                </li>
                                <li class="text-success mb-3 fw-semibold">Приоритетная поддержка</li>
                                <li>Стоимость за проверку -
                                    <span class="fw-semibold text-success-emphasis">0.07 руб.</span></li>
                            </ul>
                        </div>
                        <div>
                            <hr class="opacity-25 w-50 mx-auto">
                            <button class="w-100 btn btn-lg btn-outline-primary pay-button"
                                    hx-get="{% url 'billing' %}?plan=4"
                                    hx-target="#payment-dialog"
                                    hx-push-url="true"
                                    hx-trigger="click"
                                    hx-disabled-elt="this"
                                    hx-swap="innerHTML">Сменить тариф
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog -->
<dialog id="payment-dialog" class="pt-0 px-0 rounded-3 border-1">
    <!-- Dialog content will be replaced by HTMX -->
</dialog>

<script>
    // Show the dialog when HTMX loads the content
    document.body.addEventListener('htmx:afterSwap', (event) => {
        if (event.detail.target.id === 'payment-dialog') {
            document.querySelector("#payment-dialog").showModal();
        }
    });

    // Close dialog functionality
    document.addEventListener("click", function (event) {
        if (event.target.id === "close-button") {
            document.querySelector("#payment-dialog").close();
            // remove the hx-push-url value from the url
            window.history.pushState("", document.title, window.location.pathname);
        }
    });
</script>

