{% load widget_tweaks %}

<h2 class="my-4">Создать автоматическое расписание</h2>
<form method="POST" action="{% url 'create_scrape_interval' %}">
    {% csrf_token %}

    <div class="row g-3 mb-3">
        <div class="col-auto pt-1">Обновлять информацию с Wildberries каждые</div>
        <div class="col-auto">
            {% render_field scrape_interval_form.interval_value min="1" class="form-control" style="max-width: 5rem" %}
        </div>
        <div class="col-auto">
            {% render_field scrape_interval_form.period class="form-select" %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary rounded-pill mb-2">Создать расписание</button>
    <a href="{% url 'destroy_scrape_interval' %}"
       class="btn btn-danger rounded-pill mb-2">
        Удалить текущее
    </a>
    <div class="mt-2 mb-1">
        {% if scrape_interval_task %}
            Активное расписание: {{ scrape_interval_task }}
        {% else %}
            <small class="text-body-secondary">Нет активных расписаний</small>
        {% endif %}
    </div>
    {% include "main/partials/items_table.html" %}

</form>
