<!-- Offcanvas showing quota for demo users -->
<div class="offcanvas offcanvas-end"
     style="--bs-offcanvas-height: 100px; --bs-offcanvas-bg: transparent;--bs-offcanvas-border-width: 0; width: fit-content;"
     tabindex="-1" id="offcanvasDemo"
     aria-labelledby="offcanvasDemoLabel">
    <div class="p-2 mb-3 bg-light rounded border border-secondary shadow shadow-sm">
        <div class="offcanvas-header pt-1 mb-0 pb-0">
            <div></div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h4 class="offcanvas-title mb-3 text-center" id="offcanvasDemoLabel">Ограничения</h4>

            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    Демо закончится через: {{ demo_remaining_time }} / {{ demo_user_lifetime_hours }} ч.
                </li>
                <li class="list-group-item bg-light">
                    Максимальное количество товаров: <span {% if tenant_quota.skus_limit == 0 %}
                    class="text-danger" {% endif %}>{{ tenant_quota.skus_limit }}</span>
                    / {{ demo_max_allowed_skus }}
                </li>
                <li class="list-group-item bg-light">
                    Ручные обновления: <span {% if tenant_quota.manual_updates_limit == 0 %}
                    class="text-danger" {% endif %}>{{ tenant_quota.manual_updates_limit }}</span>
                    / {{ demo_manual_updates }}
                </li>
                <li class="list-group-item bg-light">
                    Автоматические сканирования: <span {% if tenant_quota.scheduled_updates_limit == 0 %}
                    class="text-danger" {% endif %}>{{ tenant_quota.scheduled_updates_limit }}</span>
                    / {{ demo_scheduled_updates }}
                </li>
                <li class="list-group-item bg-light">
                    <span class="tooltip-needed" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Однократная проверка одного товара">Единицы проверки</span>:
                    <span {% if tenant_quota.parse_units_limit == 0 %}
                    class="text-danger" {% endif %}>{{ tenant_quota.parse_units_limit }}</span>
                    / {{ demo_allowed_parse_units }}
                </li>
            </ul>
            <hr class="mx-auto w-25">
            <a href="{% url 'account_logout' %}?next={% url 'account_signup' %}" class="link-danger">
                <strong>Зарегистрируйтесь</strong></a>, чтобы снять демо ограничения.
        </div>
    </div>
</div>
