<footer class="footer mt-auto py-2 border-top bg-body-tertiary">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center text-md-start mb-2 mb-md-0">
                <a href="{% url 'index' %}" class="text-decoration-none text-body-secondary">© {% now "Y" %} MP Monitor</a>
            </div>
            <div class="col-12 col-md-8">
                <ul class="nav justify-content-center justify-content-md-end">
                    <li class="nav-item"><a href="{% url 'oferta' %}" class="nav-link text-body-secondary">Условия использования</a></li>
                    <li class="nav-item">
                        <a href="mailto:info@mpmonitor.ru" class="nav-link text-body-secondary">
                            <span class="material-symbols-sharp">mail</span> info@mpmonitor.ru
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>