{% load widget_tweaks %}
{% load humanize %}


<div class="table-responsive" id="itemsTable">
    <table class="table table-hover table-bordered border-secondary-subtle mt-4">
        <thead class="table-dark">
        <tr class="text-center">
            <th>
                <input id="select-all" data-select-all="true" class="form-check-input mt-0" type="checkbox" aria-label="Выделить все">
            </th>
            <th>Артикул</th>
            <th id="itemName">Наименование товара</th>
            {#                <th>СПП</th>#}
            <th>Цена WB</th>
            <th class="fit"><a class="text-decoration-none text-light" title="По сравнению с предыдущим обновлением">Разница %</a></th>
            <th>Обновлено</th>
        </tr>
        </thead>
        <tbody id="table-body">
        {% for item in items %}
            <tr>
                <td class="text-center">
                {% if item.is_parser_active %}
                    <a title="Для этого товара включен автоматический парсинг" style="cursor: default">
                        <span class="material-symbols-sharp text-danger">schedule</span>
                    </a>

                    {% endif %}
                    <input
                            class="form-check-input mt-0 custom-material-icon"
                            type="checkbox"
                            value="{{ item.sku }}"
                            name="selected_items"
                            id="selected_items"
                            aria-label="Выбрать {{ item.sku }}"
                            {% if item.is_parser_active and tab != "manual" %}
                                checked
                            {% endif %}
                    >
                </td>
                <td><a href="{{ item.get_absolute_url }}">{{ item.sku }}</a></td>
                <td>{{ item.name }}</td>
                {#                    <td class="text-center">{{ item.spp }}%</td>#}
                <td class="text-center">
                                    <span class="position-relative">
                                        {% if item.is_in_stock %}
                                            {{ item.price }}
                                        {% else %}
                                            <span class="text-bg-danger p-1">Нет в наличии</span>
                                        {% endif %}
                                    </span>
                </td>

                    {% if item.price_percent_change > 0 %}
                        <td class="text-center table-success">
                        <span class="material-symbols-sharp">trending_up</span>
                        {{ item.price_percent_change|floatformat }}%
                        </td>
                    {% elif item.price_percent_change < 0 %}
                        <td class="text-center table-danger">
                        <span class="material-symbols-sharp">trending_down</span>
                        {{ item.price_percent_change|floatformat }}%
                        </td>
                    {% else %}
                        <td class="text-center"></td>
                    {% endif %}

                <td>{{ item.updated_at|naturaltime }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Товары не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

