{% load widget_tweaks %}

<h2 class="my-4">Обновить информацию о товарах вручную</h2>
<form method="POST" action="{% url 'update_items' %}">
    {% csrf_token %}
    <div class="mt-4">
        <div class="row">
            <div class="col-md-10">
                <div>
                    <div>
                        Здесь вы можете обновить информацию о товарах вне зависимости от текущего расписания.
                        Для этого выберите товары и нажмите на "Обновить вручную". Это никак не повлияет на расписание.
                    </div>
                    <button type="submit" class="btn btn-outline-primary rounded-pill mt-4">
                        <span class="material-symbols-sharp">touch_app</span>
                        Обновить вручную
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include "main/partials/items_table.html" with tab="manual" %}

</form>
