{% load static %}
{% url 'index' as index_url %}
{% url 'billing' as billing_url %}
{% url 'item_list' as item_list_url %}
<nav class="container d-flex flex-wrap justify-content-between py-3">

    {% if user.is_authenticated %}
    <a href="{% url 'item_list' %}"
       class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'img/homepage/logo.png' %}" width="210" height="70" alt="logo" loading="eager">
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'item_list' %}" class="nav-link {% if request.path == item_list_url %}nav-active{% endif %}" aria-current="page">Мои товары</a>
        <li class="nav-item">

        <a href="{% url 'billing' %}" class="nav-link {% if request.path == billing_url %}nav-active{% endif %}" aria-current="page">Биллинг</a>
            {% if user.is_superuser %}
        <li>
            <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAdmin"
               aria-controls="offcanvasAdmin">admin
            </a>
        </li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Выйти</a></li>
        {% if user.is_demo_user %}
        <li class="nav-item>">
            <a href="{% url 'account_logout' %}?next={% url 'account_signup' %}" class="nav-link link-primary">
                <strong>Регистрация</strong></a>
        </li>
        {% endif %}

    </ul>
    <!--    </nav>-->

    {% else %}
    <a href="{% url 'index' %}"
       class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'img/homepage/logo.png' %}" width="210" height="70" alt="logo" loading="eager">
    </a>

    <ul class="nav nav-pills py-3">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'index' %}#pricing" class="nav-link" aria-current="page">Цены</a></li>
        <li class="nav-item"><a href="{% url 'index' %}#how_does_it_work" class="nav-link" aria-current="page">Как это работает?</a>
        </li>
        <li class="nav-item"><a href="{% url 'index' %}#faq" class="nav-link">FAQ</a></li>
        <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Войти</a></li>
        <li class="nav-item"><a href="{% url 'account_signup' %}"
                                class="nav-link link-primary fw-semibold">Регистрация</a>
        </li>
    </ul>
    {% endif %}

</nav>
