<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>

<div class="modal-content">
    <div class="modal-header border-bottom">
        <h5 class="modal-title my-2 ps-3">Оплата тарифа</h5>
        <button type="button" class="btn-close pe-4" id="close-button" aria-label="Close"></button>
    </div>
    <div class="modal-body border-bottom pb-3">
        <h5 class="text-center my-3">{{ plan.get_name_display }}</h5>
        {% if is_real_payment %}
            <div class="alert alert-warning mx-3 my-3" role="alert">
                <strong>Внимание!</strong> Это реальный платеж. С вашего счета будут списаны деньги.
            </div>
        {% endif %}
        <div class="mx-3">Сумма: <span class="fs-5 fw-semibold">{{ plan.price|floatformat:0 }}</span>
            <span class="material-symbols-sharp text-body-secondary">currency_ruble</span>
        </div>
        <small class="mx-3 text-body-secondary fs-6">Смена тарифа произойдет в начале следующего периода оплаты</small>
    </div>
    <div class="modal-footer mx-3">

        <form class="" name="payform-tbank" id="payform-tbank">
            <input class="payform-tbank-row" type="hidden" name="terminalkey" value="{{ terminal_key }}">
            <input class="payform-tbank-row" type="hidden" name="frame" value="false">
            <input class="payform-tbank-row" type="hidden" name="language" value="ru">
            <input class="payform-tbank-row" type="hidden" name="receipt" value="">
            <input class="payform-tbank-row" type="hidden" placeholder="Сумма заказа" name="amount"
                   value="{{ plan.price|floatformat:0 }}" required>
            <input class="payform-tbank-row" type="hidden" placeholder="Номер заказа" name="order"
                   value="{{ order_id }}">
            <input class="payform-tbank-row" type="hidden" placeholder="Описание заказа" name="description"
                   value='Тариф "{{ plan.get_name_display }}"'>
            <input class="payform-tbank-row" type="hidden" placeholder="ФИО плательщика" name="name">
            <input class="payform-tbank-row" type="hidden" placeholder="E-mail" name="email"
                   value="{{ user.email }}">
            <input class="payform-tbank-row" type="hidden" placeholder="Контактный телефон" name="phone">


            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-success bg-gradient py-2 shadow flex-grow-1 me-2 pay-button"
                        autofocus>
                    {% if is_real_payment %}
                        Перейти к оплате (Реальный платеж)
                    {% else %}
                        Перейти к оплате (Тестовый платеж)
                    {% endif %}
                </button>
                <button type="button" class="btn btn-outline-secondary" id="close-button">Закрыть</button>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    const TPF = document.getElementById("payform-tbank");

    TPF.addEventListener("submit", function (e) {
        e.preventDefault();
        const {description, amount, email, phone, receipt} = TPF;

        if (receipt) {
            if (!email.value && !phone.value)
                return alert("Поле E-mail или Phone не должно быть пустым");
            TPF.receipt.value = JSON.stringify({
                "EmailCompany": "info@mpmonitor.ru",
                "Taxation": "usn_income",
                "FfdVersion": "1.2",
                "Items": [
                    {
                        "Name": 'Тариф "{{ plan.get_name_display }}"' || "Оплата",
                        "Price": amount.value + '00',
                        "Quantity": 1.00,
                        "Amount": amount.value + '00',
                        "PaymentMethod": "full_payment",
                        "PaymentObject": "service",
                        "Tax": "none",
                        "MeasurementUnit": "pc"
                    }
                ]
            });
        }
        pay(TPF);
    })
</script>
