{% load widget_tweaks %}

<h2 class="my-4">Изменить текущее расписание</h2>
<div class="mb-2">Здесь можно изменить, какие товары входят в текущее расписание парсинга, или полностью удалить его.</div>
<ul>
    <li>Чтобы поменять, какие товары входят в расписание, выберите необходимые товары и нажмите на "Обновить расписание".</li>
    <li>Для удаления расписания нажмите на соответствующую кнопку.</li>
    <li>Можно создать только одно расписание.</li>
</ul>
<form method="POST" action="{% url 'update_scrape_interval' %}">
    {% csrf_token %}

    <div class=mb-2">
        {% if scrape_interval_task %}
            <span class="fw-bold">Текущее расписание:</span> {{ scrape_interval_task.interval }}<br>
            <span class="fw-bold">Следующий парсинг:</span> {{ next_interval_run_at }}
        {% else %}
            <small class="text-body-secondary">Нет активных расписаний</small>
        {% endif %}
    </div>

    <div class="my-2 mt-4">
        <button type="submit" class="btn btn-primary rounded-pill me-2">
            <span class="material-symbols-sharp">update</span>
            Обновить расписание
        </button>
        <a href="{% url 'destroy_scrape_interval' %}"
           class="btn btn-danger rounded-pill">
            <span class="material-symbols-sharp">delete</span>
            Удалить текущее
        </a>
    </div>
    {% include "main/partials/items_table.html" %}

</form>
