{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Биллинг - MP Monitor
{% endblock title %}

{% block content %}
    {#    {% include 'main/partials/billing_form.html' %}#}



    <!-- using(sessionStorage) clears the tab data once the user closes the browser tab.
    No need to save which billing tab is open. Source: https://alpinejs.dev/plugins/persist#custom-storage -->
    <div class="container my-5" x-data="{ billing_tab: $persist('billing_tab1').using(sessionStorage) }">
        <h1 class="mb-4">Billing</h1>

        <!-- Tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <!-- @click.prevent prevents the default action of the link (in this case, the page reloading) -->
                <a href="#" class="nav-link" :class="{ 'active': billing_tab === 'billing_tab1' }"
                   @click.prevent="billing_tab = 'billing_tab1'">Current Plan</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" :class="{ 'active': billing_tab === 'billing_tab2' }"
                   @click.prevent="billing_tab = 'billing_tab2'">Transaction History</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" :class="{ 'active': billing_tab === 'billing_tab3' }"
                   @click.prevent="billing_tab = 'billing_tab3'">Payment Plans</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content bg-white p-4 border border-top-0 rounded-bottom">
            <!-- Tab 1: Current Payment Plan -->
            {% include 'main/partials/billing_tab_current_plan.html' %}

            <!-- Tab 2: Transaction History -->
            {% include 'main/partials/billing_tab_transaction_history.html' %}

            <!-- Tab 3: Payment Plans -->
            {% include 'main/partials/billing_tab_payment_plans.html' %}
        </div>
    </div>
{% endblock content %}
