{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Main Page
{% endblock title %}

{% block content %}

{#    <main class="flex-shrink-0 container border border-secondary-subtle border-top-0 border-bottom-0">#}
    <main class="flex-shrink-0 container">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %}
                        class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}
                        role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <form method="POST" action="{% url 'scrape_item' skus=form.skus.value %}">
                            {% csrf_token %}

                            <label for="skus" class="form-label h2">Добавить новые товары для парсинга</label>
                            {% render_field form.skus class="form-control" id="skus" rows="3" placeholder=form.skus.help_text %}
                            <button type="submit" class="btn btn-primary mt-2">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include "main/partials/update_items_form.html" %}
    </main>


{% endblock content %}
