{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Main Page
{% endblock title %}

{% block content %}

    <main class="flex-shrink-0 container">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %}
                        class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}
                        role="alert">
                        {{ message|safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- START Add items collapse -->
        <p class="mt-2">
            <a class="btn btn-sm btn-outline-success"
               title="Добавить новые товары для парсинга"
               data-bs-toggle="collapse"
               href="#addItems" role="button"
               aria-expanded="false"
               aria-controls="addItems">
                <span class="material-symbols-sharp">add</span>
            </a>
        </p>
        <div class="collapse" id="addItems">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <form method="POST" action="{% url 'scrape_item' skus=form.skus.value %}">
                            {% csrf_token %}

                            <label for="skus" class="form-label h2">Добавить новые товары для парсинга</label>
                            {% render_field form.skus class="form-control focus-ring focus-ring-success" id="skus" rows="3" placeholder=form.skus.help_text %}
                            <button type="submit" class="btn btn-success rounded-pill mt-2 mb-2">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add items collapse -->


        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-fill bg-gradient" id="updateTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="manual-update-tab" data-bs-toggle="tab" type="button"
                        data-bs-target="#manual-tab-pane" role="tab" aria-controls="manual-tab-pane"
                        aria-selected="true">Обновить вручную
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane"
                        type="button" role="tab" aria-controls="schedule-tab-pane" aria-selected="false">
                    Создать Автоматическое Расписание
                </button>
            </li>
        </ul>

        <!-- Tab contents -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane show active" id="manual-tab-pane" role="tabpanel" aria-labelledby="manual-update-tab"
                 tabindex="0">
                {% include "main/partials/update_items_form.html" %}
            </div>
            <div class="tab-pane" id="schedule-tab-pane" role="tabpanel" aria-labelledby="schedule-tab" tabindex="0">
                {% include "main/partials/create_interval_form.html" %}
            </div>
        </div>

    </main>


{% endblock content %}
