{% extends "main/layouts/blank.html" %}

{% load guardian_tags %}
{% block title %}УСЛОВИЯ ИСПОЛЬЗОВАНИЯ MP Monitor{% endblock title %}
{% block content %}

<div class="container pb-5" style="font-size: 1.2rem;">
 <div aria-label="breadcrumb">
            <ol class="breadcrumb p-2 bg-body-secondary rounded-3">
                <li class="breadcrumb-item">
                    <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'index' %}">
                        <span class="material-symbols-sharp">arrow_back_ios_new</span>
                        Главная
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Условия использования
                </li>
            </ol>
        </div>
    <h1 class="h1 my-4 pt-3">УСЛОВИЯ ОКАЗАНИЯ УСЛУГ MP MONITOR</h1>

    <p>Настоящий документ представляет собой предложение Индивидуального предпринимателя Симбирцева Игоря Викторовича
    (далее – Исполнитель) заключить Договор на оказание Услуг «MP Monitor» на изложенных ниже условиях.</p>

    <div><strong>1. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ</strong></div>
    <div>1.1. В целях однозначной трактовки настоящего документа нижеприведенные термины используются в следующем значении:</div>
    <div>1.1.1. Оферта - настоящий документ «Публичная оферта на оказание услуг «MP Monitor», размещенный в сети Интернет по
    адресу https://mpmonitor.ru/oferta</div>
    <div>1.1.2. Услуги, или Услуги «MP Monitor» – набор услуг, оказываемый Исполнителем Пользователю путём предоставления в
    течение определенного времени возможности пользоваться онлайн-сервисом мониторинга «MP Monitor» (далее – сервис MP
    Monitor), расположенным в сети Интернет по адресу: https://mpmonitor.ru. Далее сервис MP Monitor именуется как
    Сервис. Услуги в частности включают:</div>
    <div>1) консультирование Пользователя по вопросам о возможностях Сервиса и работе в нём;</div>
    <div>2) работу с обращениями Пользователя в связи с ошибками в функционировании Сервиса;</div>
    <div>3) обеспечение Пользователя возможностью пользоваться сервисом MP Monitor в течение оплаченного периода и в
    соответствии с оплаченным объемом мониторинга.</div>
    <div>1.1.3. Страница регистрации – интернет-страница, расположенная по адресу https://mpmonitor.ru/accounts/signup ,
    служащая для ввода необходимых для регистрации в качестве Пользователя данных.</div>
    <div>1.1.4. Пользователь – физическое или юридическое лицо, зарегистрировавшееся на Странице регистрации в качестве
    пользователя Услуг с присвоением ему уникального кода идентификации (логина) и, тем самым, осуществившее Акцепт
    Оферты.</div>
    <div>1.1.5. Акцепт Оферты - полное и безоговорочное принятие Оферты путем осуществления действий, указанных в статье 8
    Оферты. Акцептом Оферты заключается Договор.</div>
    <div>1.1.6. Договор – договор между Исполнителем и Пользователем на оказание Услуг «MP Monitor», который заключается
    посредством Акцепта Оферты.</div>
    <div>1.1.7. Заказчик – это Пользователь, оплативший Услуги, на основании Договора. Таким образом, все положения Оферты и
    Договора, адресованные Пользователю, относятся в полной мере и к Заказчику.</div>
    <div>1.1.8. Исполнитель и Пользователь/Заказчик вместе именуются Стороны.</div>
    <div>1.1.9. Сайт – web-сайт (доменное имя), расположенный в сети интернет и общедоступный, переданный Заказчиком
    Исполнителю, для осуществления Услуг.</div>
    <div>1.1.10. Страница сайта – страница web-сайта в сети интернет, принадлежащая к конкретному Сайту.</div>
    <div>1.1.11. Товар – предмет в отношении которого оказываются Услуги на проверяемых Страницах сайта.</div>
    <div>1.1.12. Сопоставление – проверка наличия соответствующего Товара Заказчика на проверяемом Сайте.</div>
    <div>1.1.13. Проверка — однократная проверка данных одного Товара на одной Странице сайта.</div>
    <div>1.2. В Оферте могут быть использованы термины, не определенные в п. 1.1. Оферты. В этом случае толкование такого
    термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте
    Оферты следует руководствоваться толкованием термина, определенным: в первую очередь – законодательством РФ, во
    вторую очередь — на сайте https://mpmonitor.ru/ , затем — сложившимся (общеупотребительным) в сети Интернет.</div>
    <br>
    <div><strong>2. ПРЕДМЕТ ДОГОВОРА</strong></div>
    <div>2.1. Предметом Договора является оказание Исполнителем Пользователю безвозмездных и возмездных Услуг «MP Monitor» на
    условиях Оферты, а также возмездных услуг по дополнительной настройке Сервиса по запросу Заказчика. Безвозмездные
    Услуги «MP Monitor» оказываются Пользователю по бесплатному тарифному плану. В остальных случаях оказываются
    возмездные Услуги «MP Monitor».</div>
    <br>
    <div><strong>3. УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</strong></div>
   <div> 3.1. Пользователь обязуется до заключения Договора ознакомиться с содержанием Оферты, условиями Договора.</div>
    <div>3.2. Пользователь самостоятельно несет ответственность за сохранность и конфиденциальность регистрационных данных:
    логина(-ов) и пароля(-ей). Все действия, осуществленные с использованием логина(-ов) и пароля(-ей) Пользователя,
    считаются осуществленными Пользователем. Пользователь самостоятельно несет ответственность перед третьими лицами за
    все действия, совершенные с использованием логина(-ов) и пароля(-ей) Пользователя. Исполнитель не несет
    ответственности за несанкционированное использование регистрационных данных Пользователя третьими лицами.</div>
    <div>3.3. Для того чтобы воспользоваться сервисом MP Monitor, Пользователю необходимо иметь компьютер, подключенный к
    сети Интернет. Все вопросы, касающиеся приобретения прав доступа в Интернет, покупки и наладки требуемого для этой
    цели оборудования и программных продуктов, не подпадают под действие настоящего Договора и решаются Пользователем
    самостоятельно.</div>
    <div>3.4. Принимая Оферту согласно статье 8, Пользователь выражает свое согласие получать на адрес электронной почты,
    указанный при регистрации в качестве Пользователя, информационную рассылку сервиса MP Monitor, рекламу, а также
    системные сообщения и уведомления, связанные с работой Сервиса и состоянием подписки Пользователя в Сервисе.</div>
    <br>
    <div><strong>4. ПРАВА И ОБЯЗАТЕЛЬСТВА ИСПОЛНИТЕЛЯ</strong></div>
    <div>Исполнитель обязуется:</div>
    <div>4.1. Оказать Пользователю Услуги «MP Monitor» в соответствии с Договором, заключенным на условиях Оферты.</div>
    <div>4.2. При оказании Услуг по Договору обеспечить возможность доступа Пользователя к функционалу «MP Monitor» через
    клиентский веб-интерфейс с использованием логина(-ов) и пароля(-ей) Пользователя, при этом Исполнитель не несет
    ответственности в случае невозможности использования Пользователем функционала «MP Monitor» по причинам, не
    зависящим от Исполнителя.</div>
    <div>4.3. По требованию Заказчика выставлять счета на оплату Услуги.</div>
    <div>4.4. Обеспечить конфиденциальность регистрационных данных Пользователя, а также
    логина(-ов) и пароля(-ей) Пользователя.</div>
    <div>4.5. Стороны согласились, что условие сохранения конфиденциальности регистрационных данных, указанных Заказчиком при
    регистрации на Странице регистрации и/или при заключении Договора, не распространяется на случаи использования
    Исполнителем таких данных в целях выставления Заказчику счетов на оплату Услуг. В перечисленных документах подлежат
    указанию данные и реквизиты, предоставленные Заказчиком.
    Исполнитель имеет право:</div>
    <div>4.6. Временно приостановить оказание Пользователю Услуг по Договору по техническим, технологическим или иным
    причинам, препятствующим оказанию Услуг, на время устранения таких причин.</div>
    <div>4.7. Приостановить оказание Услуг по Договору и/или досрочно расторгнуть Договор в одностороннем внесудебном порядке
    в случаях нарушения Пользователем обязательств и/или гарантий, принятых в соответствии с Договором.</div>
    <div>4.8. Расторгнуть Договор в одностороннем порядке и удалить данные Пользователя без уведомления, если Пользователь в
    течение 6 (шести) календарных месяцев подряд не получал доступ к функционалу Сервиса через клиентский веб-интерфейс
    с использованием логина(-ов) и пароля(-ей) Пользователя.</div>
    <br>
    <div><strong>5. ПРАВА И ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ И ЗАКАЗЧИКА</strong></div>
    <div>5.1. Заказчик обязуется оплачивать Услуги Исполнителя по Договору в порядке и в сроки, установленные в Оферте
    (Договоре).</div>
    <div>5.2. Пользователь обязуется пройти процедуру регистрации. Пользователь соглашается предоставить правдивую, точную и
    полную информацию о себе по вопросам, предлагаемым в регистрационной форме, и поддерживать эту информацию в
    актуальном состоянии. Если Пользователь предоставляет неверную информацию или у Исполнителя есть серьезные основания
    полагать, что предоставленная Пользователем информация неверна, неполна или неточна, Исполнитель имеет право
    приостановить либо отменить регистрацию Пользователя и отказать Пользователю в использовании сервиса.</div>
    <div>5.3. По завершении процесса регистрации Пользователь (представитель Пользователя) получает логин и пароль для
    доступа к веб-интерфейсу, предоставляющему доступ к информации, принадлежащей Пользователю. Пользователь несёт
    ответственность за безопасность своего логина и пароля (логинов и паролей представителей Пользователя), а также за
    все, что будет сделано на сервисе MP Monitor под логином(-ами) и паролем(-ями) Пользователя (представителей
    Пользователя). Пользователь соглашается с тем, что обязан немедленно уведомить Исполнителя о любом случае
    неавторизованного (не разрешенного Пользователем) доступа с логином и паролем Пользователя (представителя
    Пользователя) и/или о любом нарушении безопасности. А также с тем, что Пользователь и все его представители
    самостоятельно осуществляют завершение работы под своим паролем (ссылка "Выйти") по окончании каждой сессии работы с
    сервисом MP Monitor.</div>
    <div>5.4. Пользователь соглашается не использовать сервис MP Monitor для: а) умышленного нарушения местного, российского
    законодательства или норм международного права; б) нарушения нормальной работы сервиса MP Monitor.</div>
    <div>5.5. Пользователь не вправе передавать свои права по Договору какой-либо третьей стороне.</div>
    <br>
    <div><strong>6. ПРАВА СОБСТВЕННОСТИ ИСПОЛНИТЕЛЯ</strong></div>
    <div>6.1. Пользователь признает и соглашается с тем, что сервис MP Monitor и все необходимые программы, связанные с ними,
    содержат конфиденциальную информацию, которая защищена законами об интеллектуальной собственности и прочими
    международными законами. Ни сам Пользователь, ни иные лица при содействии со стороны Пользователя не будут
    копировать или изменять программное обеспечение; создавать программы, производные от программного обеспечения;
    проникать в программное обеспечение с целью получения кодов программ; осуществлять продажу, сдачу в аренду, передачу
    третьим лицам каких-либо прав относительно программного обеспечения и Сервиса, предоставленных Пользователю, а также
    модифицировать Сервис, в том числе с целью получения несанкционированного доступа к нему.</div>
    <br>
    <div><strong>7. СТОИМОСТЬ УСЛУГ И УСЛОВИЯ ОПЛАТЫ</strong></div>
    <div>7.1. Заказчик оплачивает Исполнителю возмездные Услуги в соответствии с тарифами. Исполнитель в одностороннем
    порядке устанавливает стоимость и условия оказания Услуг по всем тарифным планам через размещение информации о них
    на своем интернет-сайте https://mpmonitor.ru. Однажды установленные стоимость и условия оказания Услуг действуют до
    следующего изменения, а также в течение всего предоплаченного Заказчиком периода. Изменение стоимости и условий
    оказания Услуг доводятся до сведения Заказчика не менее чем за 30 дней до вступления этих изменений в силу через
    размещение соответствующей информации на интернет-сайте Исполнителя: https://mpmonitor.ru.</div>
    <div>7.2. Оплата Услуг производится Заказчиком в российских рублях в безналичном порядке:</div>
    <div>7.2.1. Заказчики – юридические лица оплачивают банковским переводом на расчетный счет Исполнителя с расчетного счета
    организации-Заказчика.</div>
    <div>7.2.2. От Заказчиков – физических лиц принимаются: платежи выполненные посредством банковских карт и других способов
    оплаты, доступных в сервисе https://mpmonitor.ru.</div>
    <div>7.2.3. Пользователь имеет возможность подключить или отключить регулярный (рекуррентный) платеж в любое время.</div>
    <div>7.3. Возмездные Услуги оказываются Заказчику на условиях предварительной оплаты Услуг. Заказчик производит авансовый
    платеж в размере 100% (Ста процентов) от стоимости заказываемых Услуг. Заказчику при оказании Услуг может быть
    предоставлена частичная отсрочка оплаты Услуг. Заказчик обязуется оплатить стоимость заказанных Услуг в размере 100%
    (сто процентов)</div>
    <div>7.4. В течение пяти дней после завершения очередного календарного месяца Заказчик имеет право предъявить
    мотивированный отказ в приемке услуг в отношении оказанных в течение этого месяца возмездных Услуг. Если в течение
    указанного срока от Заказчика не поступило мотивированного отказа в приемке услуг, Услуги считаются оказанными
    Исполнителем надлежащим образом и принятыми Заказчиком в полном объеме, соответствующем используемому тарифному
    плану.</div>
    <br>
    <div><strong>8. АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА</strong></div>
    <div>8.1. Факт регистрации в качестве Пользователя на Странице регистрации является безоговорочным принятием
    Пользователем данной Оферты.</div>
    <br>
    <div><strong>9. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ УСЛОВИЙ ОФЕРТЫ</strong></div>
    <div>9.1. Оферта вступает в силу с момента размещения в сети Интернет по адресу https://mpmonitor.ru/oferta и действует
    до момента отзыва Оферты Исполнителем.</div>
    <div>9.2. Исполнитель оставляет за собой право внести изменения в условия Оферты и/или отозвать Оферту в любой момент по
    своему усмотрению. В случае внесения Исполнителем изменений в Оферту, такие изменения вступают в силу с момента
    размещения измененного текста Оферты в сети Интернет по указанному в п. 9.1. адресу, если иной срок вступления
    изменений в силу не определен дополнительно при таком размещении.</div>
    <br>
    <div><strong>10. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ ДОГОВОРА</strong></div>
    <div>10.1. Акцепт Оферты Пользователем, произведенный согласно статье 8 Оферты, создает Договор (статья 438 Гражданского
    Кодекса РФ) на условиях Оферты.</div>
    <div>10.2. Договор вступает в силу с момента Акцепта Оферты.</div>
    <div>10.3. Договор заключается на неопределенный срок и действует до момента расторжения.</div>
    <div>10.4. Пользователь соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих изменений в
    заключенный и действующий между Пользователем и Исполнителем Договор, и эти изменения в Договор вступают в силу
    одновременно с такими изменениями в Оферту.</div>
    <div>10.5. Отзыв Оферты может быть осуществлен Исполнителем в любое время, но это не является основанием для отказа от
    обязательств Исполнителя по заключенному Договору.</div>
    <br>
    <div><strong>11. РАСТОРЖЕНИЕ ДОГОВОРА И ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ</strong></div>
    <div>11.1. Договор может быть расторгнут:</div>
    <div>11.1.1. По соглашению Сторон в любое время;</div>
    <div>11.1.2. По инициативе любой из Сторон в случае нарушения другой Стороной условий Договора с письменным уведомлением
    другой Стороны;</div>
    <div>11.1.3. По инициативе любой из Сторон с письменным уведомлением другой Стороны за 30 (тридцать) дней до расторжения
    Договора;</div>
    <div>11.1.4. По инициативе Исполнителя без уведомления Пользователя при выполнении условий п.4.8 Договора.</div>
    <div>11.2. В случае досрочного прекращения предоставления Услуг при расторжении Договора Исполнитель осуществляет возврат
    неиспользованных денежных средств Заказчику по заявлению последнего. Сумма неиспользованных денежных средств,
    подлежащая возврату, рассчитывается как денежные средства уплаченные Заказчиком Исполнителю по Договору за вычетом
    стоимости фактически оказанных на дату расторжения Договора Услуг и фактически понесенных Исполнителем в связи с
    выполнением Договора расходов. Возврат денежных средств осуществляется только в безналичном порядке. Перечисление
    возвращаемых средств третьему лицу по просьбе Заказчика не производится. Данный пункт распространяется как на
    Заказчиков – физических лиц, так и на Заказчиков – юридических лиц.</div>
    <div>11.3. Заказчик вправе отказаться от оплаченной услуги в любой момент до начала ее получения/исполнения. Такая
    ситуация возникает только в том случае, когда Заказчик совершил платеж за Услуги, но не активировал ни один из
    платных тарифов в своем личном кабинете в сервисе MP Monitor. В данной ситуации Заказчик имеет право на возврат всей
    зачисленной на расчетный счет Исполнителя суммы платежа. Возврат осуществляется в соответствии с пп. 11.4 - 11.6
    ниже.</div>
    <div>11.4. Действуют следующие правила возврата денежных средств для Заказчиков, являющихся юридическими лицами:</div>
    <div>11.4.1. Для возврата денежных средств на расчетный счет Заказчику – юридическому лицу необходимо заполнить
    «Заявление о возврате денежных средств», которое высылается по требованию Исполнителем на электронный адрес
    Заказчика, и отправить его по адресу: 141983, Дубна, Мос. обл., ул. Тверская, дом 5, кв. 141. К рассмотрению
    принимаются заявления с оригинальной печатью организации-Заказчика и подписью генерального директора (иного
    единоличного исполнительного органа Заказчика). Возврат денежных средств будет осуществлен на банковский счет
    Заказчика, с которого ранее были получены Исполнителем денежные средства за Услуги, в течение 30 (Тридцати) рабочих
    дней со дня получения «Заявления о возврате денежных средств» Исполнителем.</div>
    <div>11.5. Действуют следующие правила возврата денежных средств для Заказчиков, являющихся физическими лицами:</div>
    <div>11.5.1. Для возврата денежных средств на банковскую карту или расчетный счет Заказчику – физическому лицу необходимо
    заполнить «Заявление о возврате денежных средств», которое высылается по требованию Исполнителем на электронный
    адрес Заказчика, и оправить его вместе с приложением копии паспорта по адресу: 141983, Дубна, Мос. обл., ул.
    Тверская, дом 5, кв. 141. Возврат денежных средств будет осуществлен на банковский счет Заказчика, указанный в
    заявлении, в течение 30 (Тридцати) рабочих дней со дня получения «Заявления о возврате денежных средств»
    Исполнителем.</div>
    <div>11.5.2. Для возврата денежных средств, ошибочно зачисленных на расчетный счет Исполнителя посредством платежных
    систем, Заказчик – физическое лицо должен обратиться с письменным заявлением и приложением копии паспорта и
    чеков/квитанций, подтверждающих ошибочное зачисление. Данное заявление необходимо направить по адресу: 141983,
    Дубна, Мос. обл., ул. Тверская, дом 5, кв. 141. После получения письменного заявления с приложением копии паспорта и
    чеков/квитанций, Исполнитель производит возврат на расчетный счет Заказчика, указанный в заявлении, в срок до 30
    (Тридцати) рабочих дней со дня получения 3аявления. В этом случае, сумма возврата будет равняться ошибочно
    зачисленной.</div>
    <div>11.6. Срок рассмотрения Заявления и возврата денежных средств Заказчику (как юридическому, так и физическому лицу)
    начинает исчисляться с момента получения Исполнителем Заявления и рассчитывается в рабочих днях без учета
    праздников/выходных дней. Если заявление поступило Исполнителю после 18.00 рабочего дня или в праздничный/выходной
    день, моментом получения Исполнителем Заявления считается следующий рабочий день.</div>
    <br>
    <div><strong>12. ГАРАНТИИ</strong></div>
    <div>12.1. В течение срока действия Договора Исполнитель предпримет все усилия для устранения каких-либо сбоев и ошибок,
    в случае их возникновения, в максимально короткие сроки. При этом Исполнитель не гарантирует отсутствия ошибок и
    сбоев при оказании Пользователю Услуг, в том числе в отношении работы программного обеспечения.</div>
    <div>12.2. За исключением гарантий, прямо указанных в тексте Оферты, Исполнитель не предоставляет никаких иных прямых или
    подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий в отношении ненарушения
    прав, соответствия Услуг конкретным целям Пользователя.</div>
    <div>12.3. Соглашаясь с условиями и принимая условия настоящей Оферты путем Акцепта Оферты, Пользователь (или
    представитель Пользователя, в т.ч. физическое лицо, должным образом уполномоченное заключить Договор от лица
    Пользователя) заверяет Исполнителя и гарантирует Исполнителю, что:</div>
    <div>12.3.1. Пользователь (представитель Пользователя) указал достоверные данные, идентифицирующие Пользователя
    (представителя Пользователя) при регистрации в качестве Пользователя на Странице регистрации и достоверные данные
    Пользователя при оформлении платежных документов для оплаты Услуг.</div>
    <div>12.3.2. Пользователь заключает Договор добровольно, при этом Пользователь (представитель Пользователя): а) полностью
    ознакомился с условиями Оферты, б) полностью понимает предмет Оферты и Договора, в) полностью понимает значение и
    последствия своих действий в отношении заключения и исполнения Договора.</div>
    <div>12.3.3. Пользователь (представитель Пользователя) обладает всеми правами и полномочиями, необходимыми для заключения
    и исполнения Договора.</div>
    <br>
    <div><strong>13. ОТВЕТСТВЕННОСТЬ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</strong></div>
    <div>13.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим
    законодательством РФ.</div>
    <div>13.2. Исполнитель ни при каких обстоятельствах не несет никакой ответственности по Договору за: а) какие-либо
    действия/бездействие, являющиеся прямым или косвенным результатом действий/бездействия Пользователя и/или третьих
    лиц; б) какие-либо косвенные убытки и/или упущенную выгоду Пользователя и/или третьих сторон вне зависимости от
    того, мог Исполнитель предвидеть возможность таких убытков или нет; в) использование (невозможность использования) и
    какие бы то ни было последствия использования (невозможности использования) Пользователем выбранной им формы оплаты
    Услуг по Договору, а равно использование/невозможность использования Пользователем и/или третьими лицами любых
    средств и/или способов передачи/получения информации.</div>
    <div>13.3. Исполнитель не отвечает за возможную потерю или порчу данных, которая может произойти из-за нарушения
    Пользователем пункта 5.3 данной Оферты.</div>
    <div>13.4. Пользователь понимает и принимает, что Исполнитель не несет никакой ответственности за всю информацию,
    размещенную на сервисе MP Monitor. Пользователь полностью отвечает за всю информацию, которую он загружает,
    посылает, передает или каким-либо другим способом делает доступной с помощью сервиса MP Monitor. Ни при каких
    обстоятельствах Исполнитель не несет ответственности за информацию, размещённую на сервисе.</div>
    <div>13.5. В случае если у Заказчика возникнут обоснованные претензии к качеству или полноте предоставляемых Услуг «MP
    Monitor», то Заказчик будет вправе потребовать возмещение понесенных (документально подтвержденных) убытков и/или
    досрочного расторжения настоящего Договора путем составления Уведомления. Исполнитель обязуется в десятидневный срок
    со дня получения Уведомления ответить на него официальным письмом. В случае признания претензий Заказчика
    обоснованными, Исполнитель обязан, по требованию Заказчика, возместить причиненные Заказчику убытки в пределах
    стоимости Услуг «MP Monitor», оказанных Заказчику в течение 1 (одного) месяца, предшествующего моменту возникновения
    претензии у Заказчика, и/или расторгнуть настоящий Договор.</div>
    <div>13.6. При наступлении обстоятельств непреодолимой силы, которые сторона по настоящему Договору не могла ни
    предвидеть, ни предотвратить разумными мерами, срок исполнения обязательств по настоящему Договору отодвигается
    соразмерно времени, в течение которого продолжают действовать такие обстоятельства, без возмещения каких-либо
    убытков. Если для Исполнителя создалась ситуация, при которой стало невозможно исполнять свои обязательства из-за
    наступления обстоятельств непреодолимой силы, то он обязан о наступлении, предположительном сроке действия и
    прекращения этих обстоятельств незамедлительно (но не позднее 5 (пяти) рабочих дней) уведомить Пользователя путем
    размещения информации на своем интернет-сайте или по электронной почте. К обстоятельствам непреодолимой силы
    относятся события, на которые Сторона не может оказывать влияния и за возникновение которых она не несет
    ответственности, в том числе: война, восстание, забастовка, землетрясение, наводнение, иные стихийные бедствия,
    пожар, сбои энергоснабжения, произошедшие не по вине Сторон, действия и акты органов власти, принятые после
    заключения Договора и делающие невозможным исполнение обязательств, установленных Договором, и другие непредвиденные
    обстоятельства и неподконтрольные Сторонам события и явления, но, не ограничиваясь указанными. Если обстоятельства
    непреодолимой силы и/или их последствия продолжают действовать более 30 (тридцати) календарных дней подряд, то
    Договор может быть расторгнут по инициативе любой из сторон путем направления в адрес другой стороны письменного
    уведомления.</div>
    <br>
    <div><strong>14. ПОРЯДОК ПРИЕМКИ УСЛУГ</strong></div>
    <div>14.1. Сдача-приемка оказанных услуг осуществляется по Акту сдачи-приемки услуг. Акт составляется Исполнителем и
    направляется Заказчику по запросу, не позднее 20 (Двадцати) рабочих дней с даты окончания отчетного периода, в
    котором были оказаны услуги.</div>
    <div>14.2. Заказчик обязуется при отсутствии возражений не позднее 5 (пяти) рабочих дней с даты получения Акта принять
    услуги, подписать Акт и отправить сканированный Акт Исполнителю по электронной почте.</div>
    <div>14.3. При наличии обоснованных возражений или претензий к оказанным услугам Заказчик обязуется не позже пяти дней
    после завершения очередного календарного месяца направить Исполнителю мотивированный отказ в приемке услуг. Отказ
    составляется в свободной форме, должен содержать ссылки на Договор и Акт, направляется Исполнителю в сканированном
    виде по электронной почте, и оригинал отказа курьерской службой или почте.</div>
    <div>14.4. В случае, если Исполнитель не получил от Заказчика в порядке и в сроки, установленные Договором, сканированный
    подписанный Заказчиком Акт или оригинал мотивированного отказа от его подписания, а также, если Заказчик не
    направляет запрос актов в соответствии с п.14.1 Договора услуги считаются оказанными надлежащим образом, принятыми
    Заказчиком без замечаний, и подлежат оплате.</div>
    <div>14.5. В случае получения Исполнителем от Заказчика мотивированного отказа от приемки услуг и согласия с ним,
    Исполнитель обязуется незамедлительно предпринять все меры для устранения недостатков, если это применимо. При
    невозможности устранить недостатки, не позже 5 (пяти) рабочих дней с даты получения Исполнителем письменного
    мотивированного отказа Заказчика, Стороны урегулируют спор по обоюдному согласию.</div>
    <div>14.6 При несогласии Исполнителя с мотивированным отказом Заказчика принять услуги, Стороны считают ситуацию спорной
    и применяют положения пункта 15.1 данной оферты.</div>
    <br>
    <div><strong>15. ПРОЧИЕ УСЛОВИЯ</strong></div>
    <div>15.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации. Все
    вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с материальным
    правом Российской Федерации. Если споры между Пользователем и Исполнителем в отношении Договора не разрешены путем
    переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в Арбитражном
    суде г. Москвы.</div>
    <div>15.2. Любые уведомления по Договору и акты оказанных услуг могут направляться одной Стороной другой Стороне: 1) по
    электронной почте: а) на адрес электронной почты Пользователя, указанный им при регистрации, с адреса электронной
    почты Исполнителя, указанного в статье 16 Оферты в случае, если получателем является Пользователь, и б) на адрес
    электронной почты Исполнителя, указанный в статье 16 Оферты, с адреса электронной почты Пользователя, указанного им
    при регистрации, если получателем является Исполнитель; 2) почтой с уведомлением о вручении или курьерской службой с
    подтверждением доставки.</div>
    <div>15.3. Пользователи предоставляют Исполнителю точные и достоверные персональные данные, необходимые Исполнителю для
    надлежащего исполнения взаимных обязательств, в том числе:</div>
    <div>- фамилию, имя и отчество;</div>
    <div>- номер мобильного телефона;</div>
    <div>- адрес электронной почты;</div>
    <div>15.4. Условия обработки и использования персональных данных:</div>
    <div>15.4.1. Принимая условия настоящего Договора, Пользователь принимает условия “Политики конфиденциальности” и в
    соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года, действуя свободно, своей
    волей и в своем интересе, выражает свое согласие на: предоставление своих персональных данных, включающих Фамилию,
    Имя, Отчество, адрес электронной почты, номер контактного телефона, регион, город, организацию, должность для их
    обработки Исполнителем.</div>
    <div>Исполнитель обязуется принимать все необходимые меры для защиты указанных выше персональных данных от неправомерного
    доступа или раскрытия.</div>
    <div>15.4.2. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых
    с использованием средств автоматизации или без использования таких средств с персональными данными.</div>
    <div>15.4.3. Целями обработки персональных данных являются:</div>
    <div>- заключение и последующее исполнение договора на оказание услуг Сервиса;</div>
    <div>- предоставление Пользователю информации рекламного характера об услугах Сервиса;</div>
    <div>- идентификация Пользователя и формирование средств авторизации Пользователя, используемых им для доступа к закрытым
    сегментам Сервиса;</div>
    <div>- направление пользователю уведомлений и информации, связанных с использованием Сервиса, оказанием услуг, а также
    обработка запросов и заявок Пользователя.</div>
    <div>15.4.4. Обработка персональных данных начинается с момента получения согласия Пользователя на обработку персональных
    данных (регистрации Пользователя) и осуществляется до достижения соответствующей цели обработки персональных данных.
    Согласие пользователя на обработку персональных данных может быть отозвано в любое время на основании личного
    заявления, направляемого Пользователем по адресу: 141983, Дубна, Мос. обл., ул. Тверская, дом 5, кв. 141.
    При получении такого заявления обработка персональных данных пользователя прекращается незамедлительно.
    Пользователь понимает и соглашается с тем, что в случае отзыва согласия он лишается возможности пользоваться
    услугами Исполнителя.</div>
    <div>15.5. В случае если одно или более положений Оферты являются по какой-либо причине недействительными, не имеющими
    юридической силы, такая недействительность не оказывает влияния на действительность Оферты в целом или
    действительность любого другого положения Оферты (Договора), которые остаются в силе.</div>
    <div>15.6. Не вступая в противоречие с условиями Оферты, Пользователь и Исполнитель вправе в любое время оформить Договор
    на оказание Услуг в форме письменного двухстороннего документа.</div>
    <br>
    <div><strong>16. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</strong></div>
    <div>Исполнитель:</div>
    <div>Индивидуальный предприниматель СИМБИРЦЕВ ИГОРЬ ВИКТОРОВИЧ</div>
    <div>ИНН 501004243338</div>
    <div>ОГРНИП 322508100173870</div>
    <div>Счет 40802810170010358423</div>
    <div>МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК"</div>
    <div>К/с 30101810645250000092</div>
    <div>БИК 044525092</div>
    <div>Тел. +7 (903) 220-04-77</div>
    <div>E-mail: info@mpmonitor.ru</div>
    <br>
    <div>Адрес размещения в сети Интернет: https://mpmonitor.ru/oferta</div>
    <div>Дата последних изменений «23» июня 2024 г.</div>

</div>

{% endblock content %}
