{% load widget_tweaks %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddNotification"
     aria-labelledby="offcanvasAddNotificationLabel"
        {#     data-bs-backdrop="static"#}
     style="--bs-offcanvas-width: 450px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAddNotificationLabel">Новое уведомление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="POST" action="{% url 'create_price_alert' item.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="targetPrice" class="form-label">Цена</label>
                    {% render_field price_alert_form.target_price class="form-control" id="targetPrice" %}
                </div>
                <div class="col-md-6">
                    <label for="percentageChange" class="form-label">Изменение (%)</label>
                    <input type="number" class="form-control" id="percentageChange">
                </div>
            </div>
            <div class="mb-3">
                <small id="currentPrice" class="text-muted">Текущая цена: {{ item.price }} ₽</small>
            </div>
            <div class="mb-3">
                {% render_field price_alert_form.message class="form-control" id="comment" rows="3" placeholder="Комментарий к уведомлению..." %}
            </div>
            <div class="mb-3">
                <label for="is_active" class="form-label" title="Только включенные уведомления будут отправляться">Включено</label>
                {% render_field price_alert_form.is_active class="form-check-input" id="is_active" checked=price_alert_form.is_active %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Сохранить</button>
        </form>

        <!-- All price alerts -->
        {% if price_alerts %}
            <hr class="my-4">
            <div class="row g-3">
                {% for alert in price_alerts %}
                    <div class="col-12 col-md-6 col-lg-4" style="cursor: default" title="{{ alert.message }}">
                        <div class="card notification-card {% if alert.is_active %}border-success hover-shadow-success
                            {% else %}border-secondary hover-shadow-secondary{% endif %}">
                            <div class="card-body d-flex align-items-center px-1 py-1">

                                {% if alert.is_active %}
                                    <span class="material-symbols-sharp me-1 text-success" title="Уведомление включено"
                                          style="font-variation-settings: 'FILL' 1">
                                        notifications_active
                                    </span>
                                {% else %}
                                    <span class="material-symbols-sharp me-1 text-secondary"
                                          title="Уведомление выключено">
                                        notifications
                                    </span>
                                {% endif %}

                                <div class="flex-grow-1">
                                    <span class="mb-0">{{ alert.target_price|floatformat:0 }}</span>
                                </div>
                                <a href="{% url 'delete_price_alert' alert.id %}" class="btn-close"
                                   title="Удалить" style="font-size: 0.7rem">
                                    <span class="visually-hidden">Удалить</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>

