{% load widget_tweaks %}

<style>
    #loading-spinner {
    display: none;
}
.htmx-request #loading-spinner {
    display: inline-block;
}
</style>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddNotification"
     aria-labelledby="offcanvasAddNotificationLabel"
        {#     data-bs-backdrop="static"#}
     style="--bs-offcanvas-width: 450px;">

    <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasAddNotificationLabel">Уведомления о ценах</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">

    <span id="alert-form-container">
        {% include "notifier/partials/create_alert.html" %}
    </span>

    <!-- All price alerts -->
    <div id="alert-list-block">
        {% include "notifier/partials/alert_list.html" %}
    </div>

    </div>
</div>

<script>
    function initializeFieldUpdate() {
        const targetPriceInput = document.getElementById('targetPrice');
        const percentageChangeInput = document.getElementById('percentageChange');
        const saveAlertButton = document.getElementById('saveAlertButton');
        const currentItemPrice = {{ item.price }};

        if (!targetPriceInput || !percentageChangeInput || !saveAlertButton) {
            console.warn("One or more elements not found during initialization.");
            return;
        }

        function updatePercentageChange() {
            const targetPrice = parseFloat(targetPriceInput.value);
            if (!isNaN(targetPrice) && currentItemPrice > 0 && targetPrice > 0) {
                const percentage = ((targetPrice - currentItemPrice) / currentItemPrice) * 100;
                const plusOrMinus = percentage > 0 ? '+' : '';
                updateClasses(percentage);
                percentageChangeInput.value = plusOrMinus + percentage.toFixed(2) + '%';
            } else {
                percentageChangeInput.value = '';
                saveAlertButton.disabled = true;
            }
        }

        function updateTargetPrice() {
            const percentage = parseFloat(percentageChangeInput.value);
            if (!isNaN(percentage)) {
                const targetPrice = currentItemPrice * (1 + percentage / 100);
                updateClasses(percentage);
                targetPriceInput.value = targetPrice.toFixed(2);
            } else {
                targetPriceInput.value = '';
                saveAlertButton.disabled = true;
            }
        }

        function updateClasses(percentage) {
            const targetPrice = parseFloat(targetPriceInput.value);
            if (percentage < 0) {
                saveAlertButton.disabled = false;
                targetPriceInput.classList.remove('text-danger');
                percentageChangeInput.classList.remove('text-success');
                percentageChangeInput.classList.add('text-danger');
            } else if (percentage === 0 || targetPrice <= 0 || isNaN(percentage)) {
                targetPriceInput.classList.add('text-danger');
                percentageChangeInput.classList.add('text-danger');
                saveAlertButton.disabled = true;
            } else {
                saveAlertButton.disabled = false;
                targetPriceInput.classList.remove('text-danger');
                percentageChangeInput.classList.remove('text-danger');
                percentageChangeInput.classList.add('text-success');
            }
        }

        targetPriceInput.addEventListener('input', updatePercentageChange);
        percentageChangeInput.addEventListener('input', updateTargetPrice);
    }

    // Reinitialize logic after HTMX content swaps (for editing an existing alert)
    document.addEventListener('htmx:afterSwap', function (event) {
        const swappedElement = event.target;
        if (swappedElement.id === 'alert-form-container') {
            initializeFieldUpdate();
        }
    });

    // Initial setup on page load
    document.addEventListener('DOMContentLoaded', function () {
        initializeFieldUpdate();
    });

</script>
