'\xef\xbb\xbf\n\n<!DOCTYPE html>\n
<html>\n
<head>\n
    <meta charset="utf-8">
    \n
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    \n\n
    <link
            rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    \n
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    \n
    <link rel="icon" type="image/png"
          sizes="16x16" href="/static/favicon/favicon-16x16.png">
    \n
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    \n
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#253c77">
    \n
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    \n
    <meta name="msapplication-TileColor" content="#253c77">
    \n
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    \n
    <meta
            name="theme-color" content="#253c77">
    \n\n <title>[\xd0\xa2\xd0\x95\xd0\xa1\xd0\xa2] \xd0\x9e\xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb0
        \xd0\xbf\xd0\xbe\xd0\xba\xd1\x83\xd0\xbf\xd0\xba\xd0\xb8</title>\n
    <base
            href="//pay.modulbank.ru">
    \n
    <link rel="stylesheet" href=/static/css/main.css>
    \n
    <style>div.certificates p.fz-xs {
        \r\n display: none;
        \r\n
    }</style>
    \n
    <script src="/static/js/utils/noFoucHead.js"></script>
    \n
    \n \n \n        <!-->\n
    <link rel="stylesheet" href="/static/build/css/noClickJack.65b5e5faa63c.css" type="text/css">
    \n<!--> \n \n
    <meta id="inapp-merchant-name" content="MP Monitor">
    \n
    <meta
            id="inapp-merchant-origin" content="">
    \n\n \n
</head>
\n
<body>\n\n \n \n \n \n \n\n\n
<noscript>\n
    <div class="alert alert-danger text-center">\n \xd0\x92 \xd0\xb2\xd0\xb0\xd1\x88\xd0\xb5\xd0\xbc
        \xd0\xb1\xd1\x80\xd0\xb0\xd1\x83\xd0\xb7\xd0\xb5\xd1\x80\xd0\xb5 <strong>\xd0\xbe\xd1\x82\xd0\xba\xd0\xbb\xd1\x8e\xd1\x87\xd0\xb5\xd0\xbd</strong>
        JavaScript.
        \xd0\x9f\xd0\xbe\xd0\xb6\xd0\xb0\xd0\xbb\xd1\x83\xd0\xb9\xd1\x81\xd1\x82\xd0\xb0,\n
        \xd0\xb2\xd0\xba\xd0\xbb\xd1\x8e\xd1\x87\xd0\xb8\xd1\x82\xd0\xb5 \xd0\xb5\xd0\xb3\xd0\xbe.\n
    </div>
    \n
</noscript>
\n
<div
        class="payment-page">\n
    <div class="payment-details">\n
        <div class="payment-details__title">\xd0\x94\xd0\xb5\xd1\x82\xd0\xb0\xd0\xbb\xd0\xb8
            \xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb5\xd0\xb6\xd0\xb0
        </div>
        \n
        \n \n <p class="payment-details__property text-light">\xd0\xa1\xd1\x83\xd0\xbc\xd0\xbc\xd0\xb0</p>\n
        <div class="fz-l fw-m">11990,<span\n
            class="text-light">00&nbsp;\xe2\x82\xbd</span>\n
        </div>
        \n\n <p class="payment-details__property text-light">\xd0\x9a\xd0\xbe\xd0\xbc\xd1\x83</p>\n
        <div
                id="payment-details__address">[\xd0\xa2\xd0\x95\xd0\xa1\xd0\xa2] MP Monitor
        </div>
        \n\n <p class="payment-details__property text-light">
            \xd0\x9e\xd0\xbf\xd0\xb8\xd1\x81\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb5</p>\n
        <div id="payment-details__description">
            \xd0\x90\xd0\xb1\xd0\xbe\xd0\xbd\xd0\xb5\xd0\xbd\xd1\x82\xd1\x81\xd0\xba\xd0\xb0\xd1\x8f
            \xd0\xbe\xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb0. \xd0\xa2\xd0\xb0\xd1\x80\xd0\xb8\xd1\x84:
            \xd0\x9f\xd0\xa0\xd0\x9e\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa1\xd0\x98\xd0\x9e\xd0\x9d\xd0\x90\xd0\x9b
        </div>
        \n \n \n
    </div>
    \n\n
    <div class="payment-method">\n <img class="logo"
                                        alt="\xd0\x9e\xd0\x9e\xd0\x9e \xc2\xab\xd0\x90\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbf\xd0\xbe\xd1\x81\xd1\x82\xc2\xbb"
                                        \n src="/static/images/logo/avanpost/logo-avanpay-en.svg">\n
        <div class="mobile-sum">\n
            \n \n
            <div class="mobile-sum__head fw-m">\n
                <div class="fz-l fw-m">11990,\n <span class="text-light">00&nbsp;\xe2\x82\xbd</span>\n
                </div>
                \n
                <div class="mobile-sum__dropdown">\xd0\x94\xd0\xb5\xd1\x82\xd0\xb0\xd0\xbb\xd0\xb8<i
                        class="icon-dropdown"></i></div>
                \n
            </div>
            \n\n
            <table
                    class="payment-table">\n
                <tr>\n
                    <td class="text-light">\xd0\x9a\xd0\xbe\xd0\xbc\xd1\x83</td>
                    \n
                    <td class="payment-table__value">\n
                        [\xd0\xa2\xd0\x95\xd0\xa1\xd0\xa2] MP Monitor
                    </td>
                    \n
                </tr>
                \n
                <tr>\n
                    <td
                            class="text-light">\xd0\x9e\xd0\xbf\xd0\xb8\xd1\x81\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb5
                    </td>
                    \n
                    <td
                            class="payment-table__value">
                        \xd0\x90\xd0\xb1\xd0\xbe\xd0\xbd\xd0\xb5\xd0\xbd\xd1\x82\xd1\x81\xd0\xba\xd0\xb0\xd1\x8f
                        \xd0\xbe\xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb0. \xd0\xa2\xd0\xb0\xd1\x80\xd0\xb8\xd1\x84:
                        \xd0\x9f\xd0\xa0\xd0\x9e\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa1\xd0\x98\xd0\x9e\xd0\x9d\xd0\x90\xd0\x9b
                    </td>
                    \n
                </tr>
                \n
            </table>
            \n \n \n
        </div>
        \n
        \n \n
        <div>\n
            <div class="payment-method__head">\n \n</div>
            \n
            <div style="display: none; margin-bottom: 40px; border-radius: 20px;" id="payment-form-iframe"
                 name="payment-form-iframe" width="100%" height="1024px">\n
                <div class="qr-code --no-shadow">\n
                    <div class="qr-code__loader">\n
                        <div></div>
                        \n
                        <div></div>
                        \n
                        <div></div>
                        \n
                        <div></div>
                        \n
                    </div>
                    \n
                </div>
                \n
            </div>
            \n
            <form method="POST" \n
                  class="card-form payment-form" \n action="/pay" \n id="payment-form" \n novalidate\n>\n <input
                    type="hidden" name="csrfmiddlewaretoken"
                    value="qduKQziSt9e1DMRgHLNptylwE3C77UMagGeR0ATXDNJmHbsPkDgPQnLYt0uo7xDI">\n <input type="hidden"
                                                                                                       name="unix_timestamp"
                                                                                                       value="1724755014"
                                                                                                       id="id_unix_timestamp"><input
                    type="hidden" name="salt"
                    id="id_salt"><input type="hidden" name="signature" value="520f2028e70ecfe20a1b4ef936fbfd0ef89b9f5b"
                                        id="id_signature"><input type="hidden" name="merchant"
                                                                 value="f29e4787-0c3b-4630-9340-5dcfcdc9f85d"
                                                                 id="id_merchant"><input type="hidden" name="amount"
                                                                                         value="11990.00"
                                                                                         id="id_amount"><input
                    type="hidden" name="receipt_contact" id="id_receipt_contact"><input type="hidden"
                                                                                        name="receipt_items"
                                                                                        value="[{&quot;name&quot;:
&quot;\\u041f\\u0420\\u041e\\u0424\\u0415\\u0421\\u0421\\u0418\\u041e\\u041d\\u0410\\u041b&quot;, &quot;payment_method&quot;: &quot;full_prepayment&quot;, &quot;payment_object&quot;: &quot;service&quot;,
&quot;price&quot;: &quot;11990.00&quot;, &quot;quantity&quot;: &quot;1&quot;, &quot;sno&quot;: &quot;osn&quot;, &quot;vat&quot;: &quot;none&quot;}]"
                                                                                        id="id_receipt_items"><input
                    type="hidden" name="refund_items"
                    id="id_refund_items"><input type="hidden" name="testing" value="1" id="id_testing"><input
                    type="hidden" name="currency" id="id_currency"><input type="hidden" name="payment_method"
                                                                          id="id_payment_method"><input
                    type="hidden" name="description" value="\xd0\x90\xd0\xb1\xd0\xbe\xd0\xbd\xd0\xb5\xd0\xbd\xd1\x82\xd1\x81\xd0\xba\xd0\xb0\xd1\x8f \xd0\xbe\xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb0. \xd0\xa2\xd0\xb0\xd1\x80\xd0\xb8\xd1\x84:
\xd0\x9f\xd0\xa0\xd0\x9e\xd0\xa4\xd0\x95\xd0\xa1\xd0\xa1\xd0\x98\xd0\x9e\xd0\x9d\xd0\x90\xd0\x9b"
                    id="id_description"><input type="hidden" name="order_id" value="217435" id="id_order_id"><input
                    type="hidden"
                    name="client_phone" id="id_client_phone"><input type="hidden" name="client_email"
                                                                    value="admin@gmail.com" id="id_client_email"><input
                    type="hidden" name="client_name" id="id_client_name"><input type="hidden"
                                                                                name="client_id"
                                                                                id="id_client_id"><input type="hidden"
                                                                                                         name="client_address"
                                                                                                         id="id_client_address"><input
                    type="hidden" name="client_contract" id="id_client_contract"><input type="hidden"
                                                                                        name="client_comment"
                                                                                        id="id_client_comment"><input
                    type="hidden" name="meta" id="id_meta"><input type="hidden" name="sysinfo" id="id_sysinfo"><input
                    type="hidden" name="use_3ds" id="id_use_3ds"><input type="hidden" name="preauth"
                                                                        id="id_preauth"><input type="hidden"
                                                                                               name="callback_url"
                                                                                               id="id_callback_url"><input
                    type="hidden" name="callback_on_failure" id="id_callback_on_failure"><input type="hidden"
                                                                                                name="callback_with_receipt"
                                                                                                id="id_callback_with_receipt"><input
                    type="hidden" name="custom_order_id" id="id_custom_order_id"><input type="hidden"
                                                                                        name="operation_type"
                                                                                        id="id_operation_type"><input
                    type="hidden" name="recurrent_state"
                    id="id_recurrent_state"><input type="hidden" name="start_recurrent" id="id_start_recurrent"><input
                    type="hidden" name="show_payment_methods" id="id_show_payment_methods"><input type="hidden"
                                                                                                  name="lifetime"
                                                                                                  id="id_lifetime"><input
                    type="hidden" name="success_url" value="https://pay.modulbank.ru/success" id="id_success_url"><input
                    type="hidden" name="client_success_url" id="id_client_success_url"><input type="hidden"
                                                                                              name="show_futubank_success_page"
                                                                                              id="id_show_futubank_success_page"><input
                    type="hidden" name="fail_url" id="id_fail_url"><input type="hidden" name="cancel_url"
                                                                          id="id_cancel_url"><input type="hidden"
                                                                                                    name="timeout_url"
                                                                                                    id="id_timeout_url"><input
                    type="hidden" name="ecwid_token" id="id_ecwid_token"><input type="hidden" name="cms_proxy_referrer"
                                                                                id="id_cms_proxy_referrer">\n\n \n\n \n
                <input type="hidden" name="yandex_pay_env" value="prod">\n \n\n \n\n \n\n \n <input type="hidden"
                                                                                                    name="client_price"
                                                                                                    value="None">\n
                \n\n \n\n \n <input type="hidden" name="items"
                                    value="[{&quot;name&quot;: &quot;\\u041f\\u0420\\u041e\\u0424\\u0415\\u0421\\u0421\\u0418\\u041e\\u041d\\u0410\\u041b&quot;,
&quot;payment_method&quot;: &quot;full_prepayment&quot;, &quot;payment_object&quot;: &quot;service&quot;, &quot;price&quot;: &quot;11990.00&quot;, &quot;quantity&quot;: &quot;1&quot;, &quot;sno&quot;: &quot;osn&quot;,
&quot;vat&quot;: &quot;none&quot;}]">\n \n\n \n \n \n
                <div data-switch-group="pay">\n \n
                    <div class="card">\n
                        <div class="card__front">\n
                            <div class="payment-systems">\n
                                <div class="payment-systems__item
payment-systems__item--mastercard"></div>
                                \n
                                <div class="payment-systems__item payment-systems__item--maestro"></div>
                                \n
                                <div
                                        class="payment-systems__item payment-systems__item--visa"></div>
                                \n
                                <div class="payment-systems__item payment-systems__item--mir"></div>
                                \n
                            </div>
                            \n
                            <input id="cardNumber" \n name="PAN" \n class="card__number" \n type="text" \n
                                   placeholder="\xd0\x9d\xd0\xbe\xd0\xbc\xd0\xb5\xd1\x80 \xd0\xba\xd0\xb0\xd1\x80\xd1\x82\xd1\x8b"
                                   \n maxlength="22" \n autocomplete="cc-number" \n
                                   title="\xd0\x9d\xd0\xbe\xd0\xbc\xd0\xb5\xd1\x80 \xd0\xba\xd0\xb0\xd1\x80\xd1\x82\xd1\x8b \xd0\xb2\xd0\xb2\xd0\xb5\xd0\xb4\xd0\xb5\xd0\xbd
\xd0\xbd\xd0\xb5\xd0\xba\xd0\xbe\xd1\x80\xd1\x80\xd0\xb5\xd0\xba\xd1\x82\xd0\xbd\xd0\xbe" \n>\n
                            <div class="card__details">\n
                                <div class="card-period">\n <input id="cardExpiryMonth" \n name="month" \n
                                                                   class="card-period__month" \n type="text" \n
                                                                   maxlength="2" \n placeholder="00" \n
                                                                   autocomplete="cc-exp-month" \n>\n <span
                                        class="card-period__divider">/</span>\n <input
                                        id="cardExpiryYear" \n name="year" \n class="card-period__year" \n type="text"
                                        \n
                                        maxlength="2" \n placeholder="00" \n autocomplete="cc-exp-year" \n
                                        title="\xd0\xa1\xd1\x80\xd0\xbe\xd0\xba \xd0\xb4\xd0\xb5\xd0\xb9\xd1\x81\xd1\x82\xd0\xb2\xd0\xb8\xd1\x8f \xd0\xba\xd0\xb0\xd1\x80\xd1\x82\xd1\x8b \xd0\xb8\xd1\x81\xd1\x82\xd0\xb5\xd0\xba"
                                        \n
                                >\n
                                </div>
                                \n <input class="cvc-front card-cvv" \n \n type="text" \n
                                          \n name="CVV" \n maxlength="3" \n placeholder="CVC" \n
                                          autocomplete="cc-csc" \n name="CVV" \n>\n
                            </div>
                            \n
                        </div>
                        \n
                        <div class="card__back">\n <input class="cvc-back card-cvv" \n \n type="text" \n
                                                          \n maxlength="3" \n placeholder="CVC" \n autocomplete="cc-csc"
                                                          \n
                                                          name="CVV" \n>\n <p>\xd0\xa2\xd1\x80\xd0\xb8
                            \xd1\x86\xd0\xb8\xd1\x84\xd1\x80\xd1\x8b&nbsp;\xd0\xbd\xd0\xb0<br>\xd0\xbe\xd0\xb1\xd0\xbe\xd1\x80\xd0\xbe\xd1\x82\xd0\xb5
                            \xd0\xba\xd0\xb0\xd1\x80\xd1\x82\xd1\x8b</p>\n
                        </div>
                        \n
                        <input id="browserInfo" name="browser_info" type="hidden">\n
                    </div>
                    \n \n <a\n id="payment_card_test"\n
                    class="dashed-link"\n href="#"\n
                    >\xd0\x97\xd0\xb0\xd0\xbf\xd0\xbe\xd0\xbb\xd0\xbd\xd0\xb8\xd1\x82\xd1\x8c
                    \xd1\x82\xd0\xb5\xd1\x81\xd1\x82\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb9
                    \xd0\xba\xd0\xb0\xd1\x80\xd1\x82\xd0\xbe\xd0\xb9</a>\n \n\n \n
                    <div id="buttons-group"
                         class="buttons-group">\n
                        <button class="payment-method__button button" type="submit">
                            \xd0\x9e\xd0\xbf\xd0\xbb\xd0\xb0\xd1\x82\xd0\xb8\xd1\x82\xd1\x8c
                        </button>
                        \n
                        <div
                                id="yandex-pay-button"></div>
                        \n
                        <div id="apple-pay-button"></div>
                        \n
                        <div id="google-pay-button"></div>
                        \n
                    </div>
                    \n\n
                </div>
                \n
                \n\n \n\n \n
            </form>
            \n
        </div>
        \n\n
        <div class="certificates">\n \n\n
            <div class="certificates__list">\n
                <div
                        class="certificates__item certificates__item--visa"></div>
                \n
                <div class="certificates__item certificates__item--pci-dss"></div>
                \n
                <div class="certificates__item
certificates__item--mastercard"></div>
                \n
                <div class="certificates__item certificates__item--mir"></div>
                \n
            </div>
            \n\n <p class="fz-xs
text-light">\xd0\x9c\xd0\xbe\xd0\xb4\xd1\x83\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xb0\xd0\xbd\xd0\xba
                \xd0\xbd\xd0\xb8\xd0\xba\xd0\xbe\xd0\xbc\xd1\x83
                \xd0\xbd\xd0\xb5&nbsp;\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb5\xd0\xb4\xd0\xb0\xd1\x91\xd1\x82
                \xd0\xb2\xd0\xb0\xd1\x88\xd0\xb8 \xd0\xb4\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8b\xd0\xb5</p>\n
        </div>
        \n\n \n
        <div class="avanpay" style="font-size: 12px;">\n
            <div class="avanpay__inner">\n <p class="text-light"><b>\xd0\x9e\xd0\xbf\xd0\xb5\xd1\x80\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
                \xd0\xbf\xd0\xbe \xd0\x9f\xd0\xb5\xd1\x80\xd0\xb5\xd0\xb2\xd0\xbe\xd0\xb4\xd1\x83 \xd0\x94/\xd0\xa1:</b>
                \xd0\x90\xd0\x9e \xd0\x9a\xd0\x91
                \xc2\xab\xd0\x9c\xd0\xbe\xd0\xb4\xd1\x83\xd0\xbb\xd1\x8c\xd0\xb1\xd0\xb0\xd0\xbd\xd0\xba\xc2\xbb</p>\n
                <p class="text-light"><b>\xd0\x98\xd0\x9d\xd0\x9d:</b> 2204000595</p>\n
                <p class="text-light">\n <b>\xd0\xae\xd1\x80. \xd0\xb0\xd0\xb4\xd1\x80\xd0\xb5\xd1\x81:</b>
                    156\xe2\x80\x89005,
                    \xd0\x9a\xd0\xbe\xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xbc\xd1\x81\xd0\xba\xd0\xb0\xd1\x8f
                    \xd0\xbe\xd0\xb1\xd0\xbb\xd0\xb0\xd1\x81\xd1\x82\xd1\x8c, \xd0\xb3.
                    \xd0\xb0\xd0\xb3\xd0\xb5\xd0\xbd\xd1\x82:</b> \xd0\x9e\xd0\x9e\xd0\x9e
                    \xc2\xab\xd0\x90\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbf\xd0\xbe\xd1\x81\xd1\x82\xc2\xbb</p>\n <p
                        class="text-light"><b>\xd0\x98\xd0\x9d\xd0\x9d:</b> 5403011237</p>\n <p class="text-light">\n
                    <b>\xd0\xae\xd1\x80. \xd0\xb0\xd0\xb4\xd1\x80\xd0\xb5\xd1\x81:</b> 127&thinsp;015,
                    \xd0\xb3\xd0\xbe\xd1\x80\xd0\xbe\xd0\xb4 \xd0\x9c\xd0\xbe\xd1\x81\xd0\xba\xd0\xb2\xd0\xb0,
                    \xd1\x83\xd0\xbb\xd0\xb8\xd1\x86\xd0\xb0
                    \xd0\x9d\xd0\xbe\xd0\xb2\xd0\xbe\xd0\xb4\xd0\xbc\xd0\xb8\xd1\x82\xd1\x80\xd0\xbe\xd0\xb2\xd1\x81\xd0\xba\xd0\xb0\xd1\x8f,
                    \xd0\xb4\xd0\xbe\xd0\xbc 2, \xd0\xba\xd0\xbe\xd1\x80\xd0\xbf\xd1\x83\xd1\x81 1,
                    \xd0\xbf\xd0\xbe\xd0\xbc. XXXV, \xd0\xbe\xd1\x84\xd0\xb8\xd1\x81 12\n </p>\n <p class="text-light">
                    <b>\xd0\xa2\xd0\xb5\xd0\xbb\xd0\xb5\xd1\x84\xd0\xbe\xd0\xbd:</b> +7 499
                    608-09-19</p>\n <p class="text-light">
                    \xd0\x9e\xd1\x81\xd1\x83\xd1\x89\xd0\xb5\xd1\x81\xd1\x82\xd0\xb2\xd0\xbb\xd1\x8f\xd0\xb5\xd1\x82
                    \xd0\xb4\xd0\xb5\xd1\x8f\xd1\x82\xd0\xb5\xd0\xbb\xd1\x8c\xd0\xbd\xd0\xbe\xd1\x81\xd1\x82\xd1\x8c
                    \xd1\x81\xd0\xbe\xd0\xb3\xd0\xbb\xd0\xb0\xd1\x81\xd0\xbd\xd0\xbe
                    \xd0\xb4\xd0\xbe\xd0\xb3\xd0\xbe\xd0\xb2\xd0\xbe\xd1\x80\xd1\x83 \xd1\x81
                    \xd0\x9e\xd0\xbf\xd0\x9f\xd0\x94\xd0\xa1 \xd0\xbe\xd1\x82 06.10.2021</p>\n <p
                        class="text-light"><b>\xd0\x9f\xd1\x80\xd0\xb5\xd1\x82\xd0\xb5\xd0\xbd\xd0\xb7\xd0\xb8\xd1\x8e
                    \xd0\xbc\xd0\xbe\xd0\xb6\xd0\xbd\xd0\xbe
                    \xd0\xbd\xd0\xb0\xd0\xbf\xd1\x80\xd0\xb0\xd0\xb2\xd0\xb8\xd1\x82\xd1\x8c
                    \xd0\xbd\xd0\xb0 \xd0\xbf\xd0\xbe\xd1\x87\xd1\x82\xd1\x83:</b> <a class="dashed-link"
                                                                                      href="mailto:welcome@avanpos.ru">welcome@avanpos.ru</a>
                </p>\n
            </div>
            \n \n
        </div>
        \n\n\n \n\n\n
    </div>
    \n
</div>
\n
<script src="/static/lib/require/require-2.1.13.js"></script>
\n
<script src="/static/js/app.js"></script>
\n\n
<script src="/static/js/getBrowserInfo.js"></script>
\n \n \n\n\n
</body>
\n
</html>\n'
